.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    1fr minmax(0, var(--plsmc-wide-chunk)) var(--plsmc-viewport-gap)
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    var(--plsmc-viewport-gap) minmax(0, var(--plsmc-wide-chunk)) 1fr;
}
:where(.root > *) {
  grid-column: 4;
}
.graphQlFetcher:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  min-width: 0;
}
.freeBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.nike5 {
  background: rgba(255, 255, 255, 1);
  width: 1440px;
  height: 966px;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
}
.frame {
  height: 96px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
}
.frame2 {
  background: rgba(255, 255, 255, 1);
  height: 60px;
  display: block;
  position: absolute;
  top: 36px;
  left: 0px;
  right: 0px;
}
.frame3 {
  width: 760px;
  height: 60px;
  display: block;
  position: absolute;
  top: 4px;
  left: 340px;
  overflow: hidden;
}
.newFeatured {
  position: absolute;
  top: 14px;
  left: 155px;
  width: 121px;
  height: 24px;
  transform: translate(-0.4689999999999941px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__nlhgf {
  display: block;
  font-size: 16px;
  text-align: center;
  font-family: "Helvetica";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(16, 16, 16, 1);
}
.men {
  position: absolute;
  top: 14px;
  left: 299px;
  width: 33px;
  height: 24px;
  transform: translate(0.09300000000001774px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text___0Q9Eo {
  display: block;
  font-size: 16px;
  text-align: center;
  font-family: "Helvetica";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(16, 16, 16, 1);
}
.women {
  position: absolute;
  top: 14px;
  left: 355px;
  width: 57px;
  height: 24px;
  transform: translate(0.4060000000000059px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__ouu9U {
  display: block;
  font-size: 16px;
  text-align: center;
  font-family: "Helvetica";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(16, 16, 16, 1);
}
.kids {
  position: absolute;
  top: 14px;
  left: 436px;
  width: 34px;
  height: 24px;
  transform: translate(-0.047000000000025466px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__zllOz {
  display: block;
  font-size: 16px;
  text-align: center;
  font-family: "Helvetica";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(16, 16, 16, 1);
}
.sale {
  position: absolute;
  top: 14px;
  left: 493px;
  width: 34px;
  height: 24px;
  transform: translate(0.23399999999998045px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__hup1I {
  display: block;
  font-size: 16px;
  text-align: center;
  font-family: "Helvetica";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(16, 16, 16, 1);
}
.snkrs {
  position: absolute;
  top: 14px;
  left: 550px;
  width: 56px;
  height: 24px;
  transform: translate(0.28099999999994907px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__mw44K {
  display: block;
  font-size: 16px;
  text-align: center;
  font-family: "Helvetica";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(16, 16, 16, 1);
}
.frame4 {
  width: 1440px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
}
.frame5 {
  height: 60px;
  display: block;
  position: absolute;
  top: 0px;
  left: 107px;
  right: 122px;
  overflow: hidden;
}
.frame6 {
  width: 180px;
  display: block;
  position: absolute;
  top: 10px;
  right: 20px;
  bottom: 10px;
}
.frame7 {
  background: rgba(244, 244, 244, 1);
  width: 180px;
  height: 40px;
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  border-radius: 100px;
}
.frame8 {
  width: 84px;
  height: 24px;
  display: block;
  position: absolute;
  top: 8px;
  left: 48px;
  overflow: hidden;
}
.search {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 54px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text___1CZ {
  display: block;
  font-size: 16px;
  font-family: "Helvetica";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(204, 204, 204, 1);
}
.autoLayoutHorizontal {
  display: flex;
  position: absolute;
  top: 2px;
  left: 2px;
  right: 138px;
  bottom: 2px;
  overflow: hidden;
  flex-direction: row;
  width: auto;
  height: auto;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 100px;
  padding: 6px 8px;
}
.frame9 {
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.svg__oaCzf {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #111;
  width: 24px;
  height: 24px;
  display: block;
  top: 0px;
  left: 0px;
}
.autoLayoutHorizontal2 {
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  top: 0px;
  left: 1318px;
  flex-direction: row;
  padding-top: 12px;
  padding-bottom: 12px;
}
.autoLayoutHorizontal2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.autoLayoutHorizontal2 > :global(.__wab_flex-container) > *,
.autoLayoutHorizontal2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.autoLayoutHorizontal2 > :global(.__wab_flex-container) > picture > img,
.autoLayoutHorizontal2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.autoLayoutHorizontal3 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 100px;
  padding: 6px;
}
.frame10 {
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.svg__lStPv {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #111;
  width: 24px;
  height: 24px;
  display: block;
  top: 0px;
  left: 0px;
}
.autoLayoutHorizontal4 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 100px;
  padding: 6px;
}
.frame11 {
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.svg__x0AA {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #111;
  width: 24px;
  height: 24px;
  display: block;
  top: 0px;
  left: 0px;
}
.frame12 {
  transform: translate(0.2640000000000029px, 0.26399999999999935px);
  display: block;
  position: absolute;
  top: -9px;
  left: 38px;
  right: 1324px;
  bottom: -10px;
  overflow: hidden;
}
.svg__b6N0E {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #111;
  width: 78.47px;
  height: 78.47px;
  display: block;
  top: 0px;
  left: 0px;
}
.frame13 {
  background: rgba(244, 244, 244, 1);
  height: 36px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
}
.frame14 {
  width: 1440px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
}
.frame15 {
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  top: 6px;
  left: 48px;
  overflow: hidden;
}
.svg__vQwOt {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #111;
  width: 24px;
  height: 24px;
  display: block;
  top: 0px;
  left: 0px;
}
.autoLayoutHorizontal5 {
  transform: translate(0.21800000000007458px, 0px);
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  top: 0px;
  left: 1122px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.autoLayoutHorizontal6 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  padding: 8px 5.156px 8px 12px;
}
.autoLayoutHorizontal6 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 13.968px);
  width: calc(100% + 13.968px);
}
.autoLayoutHorizontal6 > :global(.__wab_flex-container) > *,
.autoLayoutHorizontal6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.autoLayoutHorizontal6 > :global(.__wab_flex-container) > picture > img,
.autoLayoutHorizontal6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 13.968px;
}
.text__yGuub {
  display: block;
  font-size: 12px;
  font-family: "Helvetica";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 18px;
  color: rgba(16, 16, 16, 1);
  position: relative;
}
.text__sSzC3 {
  display: block;
  font-size: 12px;
  font-family: "Helvetica";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 18px;
  color: rgba(16, 16, 16, 1);
  position: relative;
}
.autoLayoutHorizontal7 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  padding: 9px 3.156px 9px 8px;
}
.autoLayoutHorizontal7 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 12.843px);
  width: calc(100% + 12.843px);
}
.autoLayoutHorizontal7 > :global(.__wab_flex-container) > *,
.autoLayoutHorizontal7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.autoLayoutHorizontal7 > :global(.__wab_flex-container) > picture > img,
.autoLayoutHorizontal7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12.843px;
}
.text__woWzh {
  display: block;
  font-size: 12px;
  font-family: "Helvetica";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 18px;
  color: rgba(16, 16, 16, 1);
  position: relative;
}
.text__hvz5R {
  display: block;
  font-size: 12px;
  font-family: "Helvetica";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 18px;
  color: rgba(16, 16, 16, 1);
  position: relative;
}
.frame16 {
  width: 126px;
  height: 36px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.text___5DZhQ {
  display: block;
  font-size: 12px;
  font-family: "Helvetica";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 18px;
  color: rgba(16, 16, 16, 1);
  position: absolute;
  top: 9px;
  left: 8px;
}
.text__lv5Sg {
  display: block;
  font-size: 12px;
  font-family: "Helvetica";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 18px;
  color: rgba(16, 16, 16, 1);
  position: absolute;
  top: 9px;
  left: 62px;
  transform: translate(-0.20400000000000063px, 0px);
}
.text__r02Ug {
  display: block;
  font-size: 12px;
  text-align: center;
  font-family: "Helvetica";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 18px;
  color: rgba(16, 16, 16, 1);
  position: absolute;
  top: 9px;
  left: 77px;
  transform: translate(-0.046999999999997044px, 0px);
}
.frame17 {
  background: rgba(255, 255, 255, 1);
  width: 380px;
  height: 489px;
  display: flex;
  position: absolute;
  top: 143px;
  left: 539px;
  flex-direction: column;
}
.frame18 {
  width: 324px;
  height: 128px;
  display: block;
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.image {
  background: url("./images/image.png") 141px 1px / 43px 15px no-repeat;
  width: 324px;
  height: 17px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.yourAccountForEverythingNike {
  position: absolute;
  top: 46px;
  left: 69px;
  width: 187px;
  height: 57px;
  transform: translate(-0.15699999999999648px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__qjC9Q {
  display: block;
  font-size: 18px;
  text-align: center;
  font-family: "Helvetica";
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 26px;
  color: rgba(16, 16, 16, 1);
}
.frame19 {
  width: 324px;
  height: 305px;
  display: block;
  position: relative;
  top: auto;
  left: auto;
  overflow: hidden;
  flex-shrink: 0;
}
.frame20 {
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(228, 228, 228, 1);
  height: 40px;
  display: flex;
  position: absolute;
  top: 5px;
  left: 0px;
  right: 0px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}
.frame21 {
  width: 290px;
  height: 16px;
  display: block;
  position: relative;
  top: auto;
  left: auto;
  overflow: hidden;
  flex-shrink: 0;
}
.emailAddress {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 89px;
  height: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__vq6Dv {
  display: block;
  font-size: 14px;
  font-family: "Helvetica";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(140, 140, 140, 1);
}
.frame22 {
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(228, 228, 228, 1);
  height: 40px;
  display: block;
  position: absolute;
  top: 58px;
  left: 0px;
  right: 0px;
  border-radius: 3px;
}
.frame23 {
  width: 290px;
  height: 16px;
  display: block;
  position: absolute;
  top: 12px;
  left: 17px;
  overflow: hidden;
}
.password {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 62px;
  height: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text___33HuS {
  display: block;
  font-size: 14px;
  font-family: "Helvetica";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(140, 140, 140, 1);
}
.frame24 {
  height: 20px;
  display: block;
  position: absolute;
  top: 121px;
  left: 0px;
  right: 162px;
}
.keepMeSignedIn {
  position: absolute;
  top: 4px;
  left: 34px;
  width: 100px;
  height: 14px;
  transform: translate(0px, 0.29600000000000026px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__oKw4Q {
  display: block;
  font-size: 12px;
  font-family: "Helvetica";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 14px;
  color: rgba(140, 140, 140, 1);
}
.frame25 {
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
}
.frame26 {
  transform: translate(0.11099999999999977px, 0px);
  width: 10px;
  height: 8px;
  display: block;
  position: absolute;
  top: 6px;
  left: 5px;
  overflow: hidden;
}
.group {
  width: 10px;
  height: 8px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.group2 {
  width: 10px;
  height: 8px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.group3 {
  width: 10px;
  height: 8px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.group4 {
  width: 10px;
  height: 8px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.group5 {
  width: 10px;
  height: 8px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.svg___6Gfj9 {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #111;
  width: 9.777px;
  height: 7.81px;
  display: block;
  top: 0px;
  left: 0px;
}
.forgottenYourPassword {
  position: absolute;
  top: 125px;
  left: 185px;
  width: 140px;
  height: 14px;
  transform: translate(-0.4070000000000107px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__toHcb {
  display: block;
  font-size: 12px;
  text-align: right;
  font-family: "Helvetica";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(187, 187, 187, 1);
}
.frame27 {
  width: 324px;
  height: 59px;
  display: block;
  position: absolute;
  top: 162px;
  left: 0px;
}
.byLoggingInYouAgreeToNikesPrivacyPolicyAndTermsOfUse {
  position: absolute;
  top: 4px;
  left: 22px;
  width: 280px;
  height: 30px;
  transform: translate(0.43700000000000117px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__f2Dbl {
  display: block;
  font-size: 12px;
  text-align: center;
  font-family: "Helvetica";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 16px;
  color: rgba(140, 140, 140, 1);
}
.frame28 {
  background: #292525;
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 1);
  width: 324px;
  height: 40px;
  display: block;
  position: absolute;
  top: 226px;
  left: 0px;
  border-radius: 3px;
}
.signIn {
  position: absolute;
  top: 11px;
  left: 142px;
  width: 42px;
  height: 18px;
  transform: translate(-0.42199999999999704px, -0.5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 38px;
  width: 73px;
  flex-shrink: 0;
}
.svg__rBqI {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__wCt4 {
  color: #fffff6;
  max-width: 71px;
  width: 100%;
  margin-left: 0px;
  font-size: 12px;
  min-width: 0;
}
.svg__mjUl3 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.frame29 {
  height: 24px;
  display: block;
  position: absolute;
  top: 276px;
  left: 0px;
  right: 0px;
}
.notAMemberJoinUs {
  position: absolute;
  top: 10px;
  left: 97px;
  width: 130px;
  height: 14px;
  transform: translate(0.2960000000000065px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.link {
  display: block;
  font-size: 12px;
  text-align: center;
  font-family: "Helvetica";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 14px;
  color: #1f2122;
}
.frame30 {
  background: rgba(16, 16, 16, 1);
  height: 331px;
  display: block;
  position: absolute;
  top: 635px;
  left: 0px;
  right: 0px;
}
.frame31 {
  width: 1440px;
  height: 331px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.frame32 {
  width: 1372px;
  height: 213px;
  display: block;
  position: absolute;
  top: 40px;
  left: 34px;
}
.frame33 {
  width: 1029px;
  height: 213px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.frame34 {
  width: 246px;
  height: 170px;
  display: block;
  position: absolute;
  top: 0px;
  left: 6px;
  overflow: hidden;
}
.frame35 {
  width: 246px;
  height: 167px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.findAStore {
  position: absolute;
  top: 8px;
  left: 0px;
  width: 69px;
  height: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__w2ToJ {
  display: block;
  font-size: 10px;
  text-transform: uppercase;
  font-family: "Helvetica Neue";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 32.666px;
  color: rgba(255, 255, 255, 1);
}
.becomeAMember {
  position: absolute;
  top: 44px;
  left: 0px;
  width: 99px;
  height: 16px;
  transform: translate(0px, -0.3440000000000012px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__fRueu {
  display: block;
  font-size: 10px;
  text-transform: uppercase;
  font-family: "Helvetica Neue";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 32.666px;
  color: rgba(255, 255, 255, 1);
}
.signUpForEmail {
  position: absolute;
  top: 79px;
  left: 0px;
  width: 99px;
  height: 16px;
  transform: translate(0px, 0.3119999999999976px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__yvIzB {
  display: block;
  font-size: 10px;
  text-transform: uppercase;
  font-family: "Helvetica Neue";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 32.666px;
  color: rgba(255, 255, 255, 1);
}
.sendUsFeedback {
  position: absolute;
  top: 111px;
  left: 0px;
  width: 94px;
  height: 16px;
  transform: translate(0px, -0.031999999999996476px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__eyVeP {
  display: block;
  font-size: 10px;
  text-align: center;
  font-family: "Helvetica Neue";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
}
.studentDiscounts {
  position: absolute;
  top: 142px;
  left: 0px;
  width: 105px;
  height: 16px;
  transform: translate(0px, -0.03200000000001069px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__eU4K7 {
  display: block;
  font-size: 9px;
  text-transform: uppercase;
  font-family: "Helvetica Neue";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 32.666px;
  color: rgba(255, 255, 255, 1);
}
.frame36 {
  transform: translate(0.25px, 0px);
  width: 246px;
  height: 213px;
  display: block;
  position: absolute;
  top: 0px;
  left: 263px;
  overflow: hidden;
}
.frame37 {
  width: 246px;
  height: 210px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.getHelp {
  position: absolute;
  top: 4px;
  left: 0px;
  width: 52px;
  height: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__yLiud {
  display: block;
  font-size: 10px;
  text-transform: uppercase;
  font-family: "Helvetica Neue";
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
}
.orderStatus {
  position: absolute;
  top: 32px;
  left: 0px;
  width: 73px;
  height: 17px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__hrzEp {
  display: block;
  font-size: 12px;
  font-family: "Helvetica";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28px;
  color: rgba(125, 125, 125, 1);
}
.delivery {
  position: absolute;
  top: 63px;
  left: 0px;
  width: 47px;
  height: 17px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__xlwDr {
  display: block;
  font-size: 12px;
  font-family: "Helvetica";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28px;
  color: rgba(125, 125, 125, 1);
}
.returns {
  position: absolute;
  top: 94px;
  left: 0px;
  width: 45px;
  height: 17px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__wABkz {
  display: block;
  font-size: 12px;
  font-family: "Helvetica";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28px;
  color: rgba(125, 125, 125, 1);
}
.paymentOptions {
  position: absolute;
  top: 125px;
  left: 0px;
  width: 97px;
  height: 17px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text___0Ndz3 {
  display: block;
  font-size: 12px;
  font-family: "Helvetica";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28px;
  color: rgba(125, 125, 125, 1);
}
.contactUsOnNikecomInquiries {
  position: absolute;
  top: 156px;
  left: 0px;
  width: 189px;
  height: 17px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__jo07Y {
  display: block;
  font-size: 12px;
  font-family: "Helvetica";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28px;
  color: rgba(125, 125, 125, 1);
}
.contactUsOnAllOtherInquiries {
  position: absolute;
  top: 187px;
  left: 0px;
  width: 187px;
  height: 17px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text___7Yz6N {
  display: block;
  font-size: 12px;
  font-family: "Helvetica";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28px;
  color: rgba(125, 125, 125, 1);
}
.frame38 {
  transform: translate(-0.5px, 0px);
  width: 246px;
  height: 151px;
  display: block;
  position: absolute;
  top: 0px;
  left: 521px;
  overflow: hidden;
}
.frame39 {
  width: 246px;
  height: 148px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.aboutNike {
  position: absolute;
  top: 4px;
  left: 0px;
  width: 65px;
  height: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__xC46I {
  display: block;
  font-size: 10px;
  text-transform: uppercase;
  font-family: "Helvetica Neue";
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
}
.news {
  position: absolute;
  top: 32px;
  left: 0px;
  width: 32px;
  height: 17px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__qkFt {
  display: block;
  font-size: 12px;
  font-family: "Helvetica";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28px;
  color: rgba(125, 125, 125, 1);
}
.careers {
  position: absolute;
  top: 63px;
  left: 0px;
  width: 45px;
  height: 17px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__q3M5 {
  display: block;
  font-size: 12px;
  font-family: "Helvetica";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28px;
  color: rgba(125, 125, 125, 1);
}
.investors {
  position: absolute;
  top: 94px;
  left: 0px;
  width: 52px;
  height: 17px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__fz11D {
  display: block;
  font-size: 12px;
  font-family: "Helvetica";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28px;
  color: rgba(125, 125, 125, 1);
}
.sustainability {
  position: absolute;
  top: 125px;
  left: 0px;
  width: 77px;
  height: 17px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__tsy3K {
  display: block;
  font-size: 12px;
  font-family: "Helvetica";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28px;
  color: rgba(125, 125, 125, 1);
}
.frame40 {
  width: 337px;
  height: 37px;
  display: block;
  position: absolute;
  top: 0px;
  left: 1029px;
}
.frame41 {
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  top: 0px;
  right: 138px;
  overflow: hidden;
}
.svg__rrfxr {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #7e7e7e;
  width: 30px;
  height: 30px;
  display: block;
  top: 0px;
  left: 0px;
}
.frame42 {
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  top: 0px;
  right: 92px;
  overflow: hidden;
}
.svg__axH2G {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #7e7e7e;
  width: 30px;
  height: 30px;
  display: block;
  top: 0px;
  left: 0px;
}
.frame43 {
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  top: 0px;
  right: 46px;
  overflow: hidden;
}
.svg__cE3V2 {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #7e7e7e;
  width: 30px;
  height: 30px;
  display: block;
  top: 0px;
  left: 0px;
}
.frame44 {
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  overflow: hidden;
}
.svg__msCaU {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #7e7e7e;
  width: 30px;
  height: 30px;
  display: block;
  top: 0px;
  left: 0px;
}
.frame45 {
  width: 1372px;
  height: 62px;
  display: block;
  position: absolute;
  top: 269px;
  left: 34px;
}
.frame46 {
  width: 672px;
  height: 32px;
  display: block;
  position: absolute;
  top: 12px;
  left: 8px;
}
.autoLayoutHorizontal8 {
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  left: 0px;
  bottom: 0px;
  flex-direction: row;
  padding-right: 8.281px;
}
.autoLayoutHorizontal8 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.autoLayoutHorizontal8 > :global(.__wab_flex-container) > *,
.autoLayoutHorizontal8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.autoLayoutHorizontal8 > :global(.__wab_flex-container) > picture > img,
.autoLayoutHorizontal8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.frame47 {
  width: 18px;
  height: 15px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.svg__onRx {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 18px;
  height: 15px;
  display: block;
  top: 0px;
  left: 0px;
}
.text__yCvFa {
  display: block;
  font-size: 12px;
  font-family: "Helvetica";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 12px;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
._2023NikeIncAllRightsReserved {
  position: absolute;
  top: 17px;
  left: 77px;
  width: 214px;
  height: 17px;
  transform: translate(0.2810000000000059px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text___5ZQm6 {
  display: block;
  font-size: 12px;
  font-family: "Helvetica";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 12px;
  color: rgba(125, 125, 125, 1);
}
.frame48 {
  width: 680px;
  height: 46px;
  display: block;
  position: absolute;
  top: 16px;
  left: 686px;
}
.guides {
  position: absolute;
  top: 15px;
  left: 292px;
  width: 41px;
  height: 17px;
  transform: translate(-0.36000000000001364px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__rqZyA {
  display: block;
  font-size: 12px;
  text-align: center;
  font-family: "Helvetica";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28px;
  color: rgba(125, 125, 125, 1);
}
.termsOfSale {
  position: absolute;
  top: 15px;
  left: 360px;
  width: 77px;
  height: 17px;
  transform: translate(-0.29700000000002547px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__vlTEc {
  display: block;
  font-size: 12px;
  text-align: right;
  font-family: "Helvetica";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28px;
  color: rgba(125, 125, 125, 1);
}
.termsOfUse {
  position: absolute;
  top: 15px;
  left: 464px;
  width: 74px;
  height: 17px;
  transform: translate(0.32799999999997453px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__mYumz {
  display: block;
  font-size: 12px;
  text-align: right;
  font-family: "Helvetica";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28px;
  color: rgba(125, 125, 125, 1);
}
.nikePrivacyPolicy {
  position: absolute;
  top: 15px;
  left: 566px;
  width: 107px;
  height: 17px;
  transform: translate(-0.1570000000000391px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__a85D {
  display: block;
  font-size: 12px;
  text-align: right;
  font-family: "Helvetica";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28px;
  color: rgba(125, 125, 125, 1);
}
