.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    1fr minmax(0, var(--plsmc-wide-chunk)) var(--plsmc-viewport-gap)
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    var(--plsmc-viewport-gap) minmax(0, var(--plsmc-wide-chunk)) 1fr;
}
:where(.root > *) {
  grid-column: 4;
}
.graphQlFetcher:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  min-width: 0;
}
.freeBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.successPayment {
  background: #ffffff;
  width: 1440px;
  height: 1525px;
  display: block;
  overflow: hidden;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  box-shadow: 0px 4px 16px 0px #00000033;
  flex-shrink: 0;
  border-radius: 25px;
}
.header {
  width: 1440px;
  height: 100px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.svg__a5Km6 {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #8e8d8c;
  width: 33px;
  height: 33px;
  display: block;
  top: 34px;
  left: 1010px;
}
.svg__xe2ZD {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #c4c4c4;
  transform: scale(1, -1);
  width: 23px;
  height: 23px;
  display: block;
  transform-origin: top left;
  top: 62px;
  left: 1265px;
}
.svg__pncDq {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #c4c4c4;
  transform: scale(1, -1);
  width: 23px;
  height: 23px;
  display: block;
  transform-origin: top left;
  top: 62px;
  left: 1329px;
}
.frame {
  width: 1440px;
  height: 96px;
  display: block;
  position: absolute;
  left: 5px;
  top: -5px;
}
.frame2 {
  background: rgba(255, 255, 255, 1);
  height: 60px;
  display: block;
  position: absolute;
  top: 36px;
  left: 0px;
  right: 0px;
}
.frame3 {
  width: 760px;
  height: 60px;
  display: block;
  position: absolute;
  top: 4px;
  left: 340px;
  overflow: hidden;
}
.newFeatured {
  position: absolute;
  top: 17px;
  left: 160px;
  width: 116px;
  height: 17px;
  transform: translate(0.06200000000001182px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text___3IqYl {
  display: block;
  font-size: 15px;
  text-align: center;
  font-family: "Helvetica Neue";
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(16, 16, 16, 1);
}
.men {
  position: absolute;
  top: 17px;
  left: 300px;
  width: 32px;
  height: 17px;
  transform: translate(-0.32900000000000773px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__dmHa {
  display: block;
  font-size: 15px;
  text-align: center;
  font-family: "Helvetica Neue";
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(16, 16, 16, 1);
}
.women {
  position: absolute;
  top: 17px;
  left: 355px;
  width: 56px;
  height: 17px;
  transform: translate(-0.20400000000000773px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__uz50U {
  display: block;
  font-size: 15px;
  text-align: center;
  font-family: "Helvetica Neue";
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(16, 16, 16, 1);
}
.kids {
  position: absolute;
  top: 17px;
  left: 434px;
  width: 32px;
  height: 17px;
  transform: translate(-0.36000000000001364px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__ic3Ij {
  display: block;
  font-size: 15px;
  text-align: center;
  font-family: "Helvetica Neue";
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(16, 16, 16, 1);
}
.sale {
  position: absolute;
  top: 17px;
  left: 489px;
  width: 33px;
  height: 17px;
  transform: translate(-0.23500000000001364px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__eDep6 {
  display: block;
  font-size: 16px;
  text-align: center;
  font-family: "Helvetica Neue";
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(16, 16, 16, 1);
}
.snkrs {
  position: absolute;
  top: 17px;
  left: 545px;
  width: 56px;
  height: 17px;
  transform: translate(-0.2039999999999509px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__hA8R {
  display: block;
  font-size: 16px;
  text-align: center;
  font-family: "Helvetica Neue";
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(16, 16, 16, 1);
}
.frame4 {
  width: 1440px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
}
.frame5 {
  height: 60px;
  display: block;
  position: absolute;
  top: 0px;
  left: 107px;
  right: 122px;
  overflow: hidden;
}
.frame6 {
  width: 180px;
  display: block;
  position: absolute;
  top: 10px;
  right: 20px;
  bottom: 10px;
}
.frame7 {
  background: rgba(244, 244, 244, 1);
  width: 180px;
  height: 40px;
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  border-radius: 100px;
}
.frame8 {
  width: 84px;
  height: 18px;
  display: block;
  position: absolute;
  top: 11px;
  left: 48px;
  overflow: hidden;
}
.search {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 51px;
  height: 17px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__qDtY {
  display: block;
  font-size: 15px;
  font-family: "Helvetica Neue";
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(204, 204, 204, 1);
}
.autoLayoutHorizontal {
  display: flex;
  position: absolute;
  top: 2px;
  left: 2px;
  right: 138px;
  bottom: 2px;
  overflow: hidden;
  flex-direction: row;
  width: auto;
  height: auto;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 100px;
  padding: 6px 8px;
}
.frame9 {
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.svg__m9RNr {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #111;
  width: 24px;
  height: 24px;
  display: block;
  top: 0px;
  left: 0px;
}
.autoLayoutHorizontal2 {
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  top: 0px;
  left: 1318px;
  flex-direction: row;
  padding-top: 12px;
  padding-bottom: 12px;
}
.autoLayoutHorizontal2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.autoLayoutHorizontal2 > :global(.__wab_flex-container) > *,
.autoLayoutHorizontal2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.autoLayoutHorizontal2 > :global(.__wab_flex-container) > picture > img,
.autoLayoutHorizontal2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.autoLayoutHorizontal3 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 100px;
  padding: 6px;
}
.frame10 {
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.svg__bMnmJ {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #111;
  width: 24px;
  height: 24px;
  display: block;
  top: 0px;
  left: 0px;
}
.autoLayoutHorizontal4 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 100px;
  padding: 6px;
}
.frame11 {
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.svg__fix7L {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #111;
  width: 24px;
  height: 24px;
  display: block;
  top: 0px;
  left: 0px;
}
.frame12 {
  transform: translate(0.2640000000000029px, 0.26399999999999935px);
  display: block;
  position: absolute;
  top: -9px;
  left: 38px;
  right: 1324px;
  bottom: -10px;
  overflow: hidden;
}
.svg___3M5G {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #111;
  width: 78.47px;
  height: 78.47px;
  display: block;
  top: 0px;
  left: 0px;
}
.frame13 {
  background: rgba(244, 244, 244, 1);
  height: 36px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
}
.frame14 {
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  top: 6px;
  left: 48px;
  overflow: hidden;
}
.svg__d0HoY {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #111;
  width: 24px;
  height: 24px;
  display: block;
  top: 0px;
  left: 0px;
}
.group12 {
  width: 1440px;
  height: 451px;
  display: block;
  position: absolute;
  top: 993px;
  left: 0px;
}
.footer {
  width: 1440px;
  height: 461px;
  display: block;
  position: absolute;
  top: 167px;
  left: 7px;
  margin-top: 0px;
}
.frame20 {
  background: rgba(16, 16, 16, 1);
  width: 1440px;
  height: 387px;
  display: block;
  position: absolute;
  left: 0px;
  top: -10px;
}
.frame21 {
  width: 1440px;
  height: 296px;
  display: block;
  position: absolute;
  top: 35px;
  left: 0px;
}
.frame22 {
  width: 1372px;
  height: 213px;
  display: block;
  position: absolute;
  top: 40px;
  left: 34px;
}
.frame23 {
  width: 1029px;
  height: 213px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.frame24 {
  width: 246px;
  height: 170px;
  display: block;
  position: absolute;
  top: 0px;
  left: 6px;
  overflow: hidden;
}
.frame25 {
  width: 246px;
  height: 167px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.findAStore {
  position: absolute;
  top: 8px;
  left: 0px;
  width: 69px;
  height: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__q49NH {
  display: block;
  font-size: 10px;
  text-transform: uppercase;
  font-family: "Helvetica Neue";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 32.666px;
  color: rgba(255, 255, 255, 1);
}
.becomeAMember {
  position: absolute;
  top: 44px;
  left: 0px;
  width: 99px;
  height: 16px;
  transform: translate(0px, -0.3440000000000012px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__c9HTw {
  display: block;
  font-size: 10px;
  text-transform: uppercase;
  font-family: "Helvetica Neue";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 32.666px;
  color: rgba(255, 255, 255, 1);
}
.signUpForEmail {
  position: absolute;
  top: 79px;
  left: 0px;
  width: 99px;
  height: 16px;
  transform: translate(0px, 0.3119999999999976px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__ufC34 {
  display: block;
  font-size: 10px;
  text-transform: uppercase;
  font-family: "Helvetica Neue";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 32.666px;
  color: rgba(255, 255, 255, 1);
}
.sendUsFeedback {
  position: absolute;
  top: 111px;
  left: 0px;
  width: 94px;
  height: 16px;
  transform: translate(0px, -0.031999999999996476px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__hHe9L {
  display: block;
  font-size: 10px;
  text-align: center;
  font-family: "Helvetica Neue";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
}
.studentDiscounts {
  position: absolute;
  top: 142px;
  left: 0px;
  width: 105px;
  height: 16px;
  transform: translate(0px, -0.03200000000001069px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__cvTdj {
  display: block;
  font-size: 9px;
  text-transform: uppercase;
  font-family: "Helvetica Neue";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 32.666px;
  color: rgba(255, 255, 255, 1);
}
.frame26 {
  transform: translate(0.25px, 0px);
  width: 246px;
  height: 213px;
  display: block;
  position: absolute;
  top: 0px;
  left: 263px;
  overflow: hidden;
}
.frame27 {
  width: 246px;
  height: 210px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.getHelp {
  position: absolute;
  top: 4px;
  left: 0px;
  width: 52px;
  height: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__h7EyA {
  display: block;
  font-size: 10px;
  text-transform: uppercase;
  font-family: "Helvetica Neue";
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
}
.orderStatus {
  position: absolute;
  top: 34px;
  left: 0px;
  width: 69px;
  height: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__kiZjR {
  display: block;
  font-size: 11px;
  font-family: "Helvetica Neue";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28px;
  color: rgba(125, 125, 125, 1);
}
.delivery {
  position: absolute;
  top: 65px;
  left: 0px;
  width: 44px;
  height: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__xY182 {
  display: block;
  font-size: 12px;
  font-family: "Helvetica Neue";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28px;
  color: rgba(125, 125, 125, 1);
}
.returns {
  position: absolute;
  top: 96px;
  left: 0px;
  width: 43px;
  height: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__q3Qc {
  display: block;
  font-size: 12px;
  font-family: "Helvetica Neue";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28px;
  color: rgba(125, 125, 125, 1);
}
.paymentOptions {
  position: absolute;
  top: 127px;
  left: 0px;
  width: 93px;
  height: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__rhReF {
  display: block;
  font-size: 11px;
  font-family: "Helvetica Neue";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28px;
  color: rgba(125, 125, 125, 1);
}
.contactUsOnNikecomInquiries {
  position: absolute;
  top: 158px;
  left: 0px;
  width: 181px;
  height: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__y9Gfv {
  display: block;
  font-size: 11px;
  font-family: "Helvetica Neue";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28px;
  color: rgba(125, 125, 125, 1);
}
.contactUsOnAllOtherInquiries {
  position: absolute;
  top: 189px;
  left: 0px;
  width: 177px;
  height: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__jiRcv {
  display: block;
  font-size: 11px;
  font-family: "Helvetica Neue";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28px;
  color: rgba(125, 125, 125, 1);
}
.frame28 {
  transform: translate(-0.5px, 0px);
  width: 246px;
  height: 151px;
  display: block;
  position: absolute;
  top: 0px;
  left: 521px;
  overflow: hidden;
}
.frame29 {
  width: 246px;
  height: 148px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.aboutNike {
  position: absolute;
  top: 4px;
  left: 0px;
  width: 65px;
  height: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__uguSf {
  display: block;
  font-size: 10px;
  text-transform: uppercase;
  font-family: "Helvetica Neue";
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
}
.news {
  position: absolute;
  top: 34px;
  left: 0px;
  width: 31px;
  height: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__dgp9N {
  display: block;
  font-size: 12px;
  font-family: "Helvetica Neue";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28px;
  color: rgba(125, 125, 125, 1);
}
.careers {
  position: absolute;
  top: 65px;
  left: 0px;
  width: 43px;
  height: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__ff1UI {
  display: block;
  font-size: 12px;
  font-family: "Helvetica Neue";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28px;
  color: rgba(125, 125, 125, 1);
}
.investors {
  position: absolute;
  top: 96px;
  left: 0px;
  width: 49px;
  height: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text___5HRd6 {
  display: block;
  font-size: 11px;
  font-family: "Helvetica Neue";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28px;
  color: rgba(125, 125, 125, 1);
}
.sustainability {
  position: absolute;
  top: 127px;
  left: 0px;
  width: 71px;
  height: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text___0CVmT {
  display: block;
  font-size: 11px;
  font-family: "Helvetica Neue";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28px;
  color: rgba(125, 125, 125, 1);
}
.frame30 {
  width: 337px;
  height: 37px;
  display: block;
  position: absolute;
  top: 0px;
  left: 1029px;
}
.frame31 {
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  top: 0px;
  right: 138px;
  overflow: hidden;
}
.svg__ssXra {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #7e7e7e;
  width: 30px;
  height: 30px;
  display: block;
  top: 0px;
  left: 0px;
}
.frame32 {
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  top: 0px;
  right: 92px;
  overflow: hidden;
}
.svg__wp3Rw {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #7e7e7e;
  width: 30px;
  height: 30px;
  display: block;
  top: 0px;
  left: 0px;
}
.frame33 {
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  top: 0px;
  right: 46px;
  overflow: hidden;
}
.svg___0JRfx {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #7e7e7e;
  width: 30px;
  height: 30px;
  display: block;
  top: 0px;
  left: 0px;
}
.frame15 {
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  overflow: hidden;
}
.svg__b5XoP {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #7e7e7e;
  width: 30px;
  height: 30px;
  display: block;
  top: 0px;
  left: 0px;
}
.frame16 {
  width: 1372px;
  height: 62px;
  display: block;
  position: absolute;
  top: 269px;
  left: 34px;
}
.frame17 {
  width: 672px;
  height: 32px;
  display: block;
  position: absolute;
  top: 12px;
  left: 8px;
}
.autoLayoutHorizontal5 {
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  left: 0px;
  bottom: 0px;
  flex-direction: row;
  padding-right: 8.031px;
}
.autoLayoutHorizontal5 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.autoLayoutHorizontal5 > :global(.__wab_flex-container) > *,
.autoLayoutHorizontal5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.autoLayoutHorizontal5 > :global(.__wab_flex-container) > picture > img,
.autoLayoutHorizontal5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.frame18 {
  width: 18px;
  height: 15px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.svg__sZhny {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 18px;
  height: 15px;
  display: block;
  top: 0px;
  left: 0px;
}
.text__oZxKf {
  display: block;
  font-size: 12px;
  font-family: "Helvetica Neue";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 12px;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
._2023NikeIncAllRightsReserved {
  position: absolute;
  top: 19px;
  left: 76px;
  width: 201px;
  height: 14px;
  transform: translate(0.03100000000000591px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__ntd2C {
  display: block;
  font-size: 11px;
  font-family: "Helvetica Neue";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 12px;
  color: rgba(125, 125, 125, 1);
}
.frame19 {
  width: 680px;
  height: 46px;
  display: block;
  position: absolute;
  top: 16px;
  left: 686px;
}
.guides {
  position: absolute;
  top: 17px;
  left: 304px;
  width: 39px;
  height: 14px;
  transform: translate(-0.11000000000001364px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__wqTo {
  display: block;
  font-size: 12px;
  text-align: center;
  font-family: "Helvetica Neue";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28px;
  color: rgba(125, 125, 125, 1);
}
.termsOfSale {
  position: absolute;
  top: 17px;
  left: 370px;
  width: 74px;
  height: 14px;
  transform: translate(-0.07900000000000773px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__vzFB {
  display: block;
  font-size: 12px;
  text-align: right;
  font-family: "Helvetica Neue";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28px;
  color: rgba(125, 125, 125, 1);
}
.termsOfUse {
  position: absolute;
  top: 17px;
  left: 471px;
  width: 71px;
  height: 14px;
  transform: translate(0.2810000000000059px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text___5Ve6C {
  display: block;
  font-size: 12px;
  text-align: right;
  font-family: "Helvetica Neue";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28px;
  color: rgba(125, 125, 125, 1);
}
.nikePrivacyPolicy {
  position: absolute;
  top: 17px;
  left: 570px;
  width: 103px;
  height: 14px;
  transform: translate(-0.03200000000003911px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__bmbk6 {
  display: block;
  font-size: 11px;
  text-align: right;
  font-family: "Helvetica Neue";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28px;
  color: rgba(125, 125, 125, 1);
}
.button:global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  left: 571px;
  top: -1px;
  width: 268px;
}
.svg__a4D {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text___85YM {
  max-width: 162px;
  width: 100%;
  padding-left: 0px;
  min-width: 0;
}
.svg___1UAQk {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.rectangle18 {
  box-shadow: 0px 0px 12px 0px rgba(0, 52, 102, 0.119);
  background: rgba(255, 255, 255, 1);
  width: 591px;
  height: 682px;
  display: block;
  position: absolute;
  top: 162px;
  left: 416px;
  padding-top: 0px;
}
.text__eXbUp {
  box-shadow: inset 0px 0px 0px 1px #ffffff;
  display: block;
  font-size: 64px;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 28, 60, 1);
  position: absolute;
  top: 192px;
  left: 153px;
}
.text__qVq0Z {
  display: block;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 52, 102, 1);
  position: absolute;
  top: 340px;
  left: 48px;
  width: 175px;
}
.text__lusXu {
  box-shadow: inset 0px 0px 0px 1px #ffffff;
  display: block;
  font-size: 20px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(63, 63, 63, 1);
  position: absolute;
  top: 303px;
  left: 340px;
  width: 156px;
  height: 24px;
  background: #ffffff;
}
.text__wFj9 {
  display: block;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 52, 102, 1);
  position: absolute;
  top: 305px;
  left: 48px;
  width: 115px;
}
.text__xQczA {
  box-shadow: inset 0px 0px 0px 1px #ffffff;
  display: block;
  font-size: 48px;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 28, 60, 1);
  position: absolute;
  top: 130px;
  left: 85px;
}
.svg__wiKiK {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #003566;
  width: 542px;
  height: 2px;
  display: block;
  top: 282px;
  left: 28px;
  border-radius: 17px;
}
.text__uIt2P {
  display: block;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 52, 102, 1);
  position: absolute;
  top: 380px;
  left: 47px;
  width: 207px;
}
.svg__qzJnq {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #003566;
  width: 542px;
  height: 2px;
  display: block;
  top: 541px;
  left: 25px;
  border-radius: 17px;
}
.text__pUqq {
  display: block;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 52, 102, 1);
  position: absolute;
  top: 429px;
  left: 50px;
  width: 161px;
}
.text__ozb6H {
  display: block;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 52, 102, 1);
  position: absolute;
  top: 574px;
  left: 55px;
  width: 161px;
}
.svg__qK9W {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #000000;
  width: 112px;
  height: 114px;
  display: block;
  top: 4px;
  left: 244px;
}
.text__h2N9L {
  box-shadow: inset 0px 0px 0px 1px #ffffff;
  display: block;
  font-size: 20px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(63, 63, 63, 1);
  position: absolute;
  top: 429px;
  left: 344px;
  width: 191px;
  height: 24px;
}
.text__e7N6J {
  box-shadow: inset 0px 0px 0px 1px #ffffff;
  display: block;
  font-size: 20px;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(63, 63, 63, 1);
  position: absolute;
  top: 574px;
  left: 356px;
  width: 191px;
  height: 24px;
}
.text__wt62M {
  box-shadow: inset 0px 0px 0px 1px #ffffff;
  display: block;
  font-size: 20px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(63, 63, 63, 1);
  position: absolute;
  top: 379px;
  left: 330px;
  width: 156px;
  height: 24px;
}
.svg__u4X4E {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #000000;
  width: 82px;
  height: 82px;
  display: block;
  top: 19px;
  left: 259px;
}
.svg__lM7Gb {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 38.136px;
  height: 26.874px;
  display: block;
  top: 46px;
  left: 280px;
}
.text__zOfMt {
  box-shadow: inset 0px 0px 0px 1px #ffffff;
  display: block;
  font-size: 20px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(63, 63, 63, 1);
  position: absolute;
  top: 341px;
  left: 341px;
  width: 244px;
  height: 24px;
}
.text__zyUvd {
  display: block;
  font-size: 30px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: #000000;
  position: absolute;
  top: 898px;
  left: 483px;
  width: 456px;
  height: 45px;
  text-align: center;
  text-decoration-line: none;
  font-style: normal;
}
