.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    1fr minmax(0, var(--plsmc-wide-chunk)) var(--plsmc-viewport-gap)
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    var(--plsmc-viewport-gap) minmax(0, var(--plsmc-wide-chunk)) 1fr;
}
:where(.root > *) {
  grid-column: 4;
}
.graphQlFetcher:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  min-width: 0;
}
.freeBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.accountDetails {
  background: rgba(255, 255, 255, 1);
  width: 1411px;
  height: 1260px;
  display: block;
  flex-shrink: 0;
}
.frame {
  background: rgba(255, 255, 255, 1);
  transform: translate(-0.0010000000000047748px, 0px);
  width: 1181px;
  height: 817px;
  display: block;
  position: absolute;
  top: 229px;
  left: 93px;
}
.frame2 {
  width: 324px;
  height: 93px;
  display: block;
  position: absolute;
  top: -74px;
  left: 387px;
}
.image {
  background: url("./images/image.png") 141px 1px / 43px 15px no-repeat;
  width: 324px;
  height: 17px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.accountDetails2 {
  position: absolute;
  top: 46px;
  left: -47px;
  width: 371px;
  height: 31px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__mzSa2 {
  display: block;
  font-size: 30px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 26px;
  color: rgba(16, 16, 16, 1);
}
.accountDetails3 {
  position: absolute;
  top: 46px;
  left: -47px;
  width: 371px;
  height: 31px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__iMnvZ {
  display: block;
  font-size: 30px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 26px;
  color: rgba(16, 16, 16, 1);
}
.accountDetails4 {
  position: absolute;
  top: 46px;
  left: -47px;
  width: 371px;
  height: 31px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__iZnRn {
  display: block;
  font-size: 30px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 26px;
  color: rgba(16, 16, 16, 1);
}
.defaultAddress {
  position: absolute;
  top: 201px;
  left: 576px;
  width: 260px;
  height: 31px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.defaultAddress2 {
  display: block;
  font-size: 25px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 26px;
  color: rgba(16, 16, 16, 1);
}
.frame5 {
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(228, 228, 228, 1);
  height: 40px;
  display: block;
  position: absolute;
  top: 310px;
  left: 576px;
  right: 281px;
  border-radius: 3px;
}
.noida {
  position: absolute;
  top: 12px;
  left: 90px;
  width: 207px;
  height: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text___2GDpY {
  display: block;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 17px;
  color: rgba(0, 0, 0, 1);
}
.frame6 {
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(228, 228, 228, 1);
  height: 40px;
  display: block;
  position: absolute;
  top: 369px;
  left: 576px;
  right: 273px;
  padding-right: 0px;
  border-radius: 3px;
}
.frame7 {
  width: 10px;
  height: 8px;
  display: block;
  position: absolute;
  top: 17px;
  right: 7px;
  overflow: hidden;
}
.group {
  width: 10px;
  height: 8px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.group2 {
  width: 10px;
  height: 8px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.group3 {
  width: 10px;
  height: 8px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.group4 {
  width: 10px;
  height: 8px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.svg___2NGhw {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #bcbcbc;
  width: 10px;
  height: 7.142px;
  display: block;
  top: 0px;
  left: 0px;
}
._211378 {
  position: absolute;
  top: 12px;
  left: 68px;
  width: 195px;
  height: 17px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__bAeuu {
  display: block;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 17px;
  color: rgba(23, 21, 21, 1);
}
.button__bsLii:global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  left: 375px;
  top: 34px;
  width: 199px;
  height: 44px;
}
.svg__hgnxs {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__hW9K0 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__tW9Lm:global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  left: 154px;
  top: 32px;
  margin-bottom: 0px;
  height: 44px;
}
.svg__ztPdL {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__gkU8A {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.frame4 {
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(228, 228, 228, 1);
  height: 40px;
  display: block;
  position: absolute;
  top: 251px;
  left: 576px;
  right: 281px;
  border-radius: 3px;
}
._125JkNagar {
  position: absolute;
  top: 12px;
  left: 64px;
  width: 196px;
  height: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__gwK6Y {
  display: block;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 17px;
  color: rgba(0, 0, 0, 1);
}
.frame8 {
  width: 324px;
  height: 400px;
  display: block;
  position: absolute;
  top: 137px;
  left: 210.9010009765625px;
  overflow: hidden;
  padding-bottom: 7px;
}
.frame11 {
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(228, 228, 228, 1);
  height: 40px;
  display: block;
  position: absolute;
  top: 59px;
  left: 0px;
  right: 0px;
  border-radius: 3px;
}
.joye {
  position: absolute;
  top: 12px;
  left: 111px;
  width: 196px;
  height: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__xtUG {
  display: block;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 17px;
  color: rgba(0, 0, 0, 1);
}
.frame12 {
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(228, 228, 228, 1);
  height: 40px;
  display: block;
  position: absolute;
  top: 112px;
  left: 0px;
  right: 0px;
  border-radius: 3px;
}
.sharma {
  position: absolute;
  top: 12px;
  left: 93px;
  width: 214px;
  height: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__omuyd {
  display: block;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 17px;
  color: rgba(0, 0, 0, 1);
}
.frame13 {
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(228, 228, 228, 1);
  height: 40px;
  display: block;
  position: absolute;
  top: 166px;
  left: 0px;
  right: 0px;
  border-radius: 3px;
}
._78Xxxxxxxxx {
  position: absolute;
  top: 12px;
  left: 90px;
  width: 207px;
  height: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__rXaB {
  display: block;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 17px;
  color: rgba(0, 0, 0, 1);
}
.frame14 {
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(228, 228, 228, 1);
  height: 40px;
  display: block;
  position: absolute;
  top: 218px;
  left: -8px;
  right: 0px;
  border-radius: 3px;
}
.frame15 {
  width: 10px;
  height: 8px;
  display: block;
  position: absolute;
  top: 17px;
  right: 7px;
  overflow: hidden;
}
.group5 {
  width: 10px;
  height: 8px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.group6 {
  width: 10px;
  height: 8px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.group7 {
  width: 10px;
  height: 8px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.group8 {
  width: 10px;
  height: 8px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.svg__dhrg7 {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #bcbcbc;
  width: 10px;
  height: 7.142px;
  display: block;
  top: 0px;
  left: 0px;
}
.india {
  position: absolute;
  top: 12px;
  left: 112px;
  width: 195px;
  height: 17px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__h1KSx {
  display: block;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 17px;
  color: rgba(23, 21, 21, 1);
}
.frame16 {
  height: 40px;
  display: block;
  position: absolute;
  top: 294px;
  left: 0px;
  right: 0px;
}
.frame17 {
  display: block;
  position: absolute;
  top: 273px;
  left: 0px;
  right: 0px;
  bottom: 84px;
}
.rectangle {
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(228, 228, 228, 1);
  width: 324px;
  height: 40px;
  display: block;
  position: absolute;
  top: 3px;
  left: 0px;
  border-radius: 3px;
}
.male {
  position: absolute;
  top: 15px;
  left: 45px;
  width: 166px;
  height: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text___1ROZq {
  display: block;
  font-size: 20px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
}
.frame18 {
  background: rgba(14, 14, 14, 1);
  width: 1406px;
  height: 342px;
  display: block;
  position: absolute;
  top: 918px;
  left: 0px;
}
.frame19 {
  width: 1372px;
  height: 213px;
  display: block;
  position: absolute;
  top: 40px;
  left: 34px;
}
.frame20 {
  width: 1029px;
  height: 213px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.frame21 {
  width: 246px;
  height: 170px;
  display: block;
  position: absolute;
  top: 0px;
  left: 6px;
  overflow: hidden;
}
.frame22 {
  width: 246px;
  height: 167px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.findAStore {
  position: absolute;
  top: 8px;
  left: 0px;
  width: 69px;
  height: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text___6HdP {
  display: block;
  font-size: 10px;
  text-transform: uppercase;
  font-family: "Helvetica Neue";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 32.666px;
  color: rgba(255, 255, 255, 1);
}
.becomeAMember {
  position: absolute;
  top: 44px;
  left: 0px;
  width: 99px;
  height: 16px;
  transform: translate(0px, -0.3440000000000012px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__d4Epd {
  display: block;
  font-size: 10px;
  text-transform: uppercase;
  font-family: "Helvetica Neue";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 32.666px;
  color: rgba(255, 255, 255, 1);
}
.signUpForEmail {
  position: absolute;
  top: 79px;
  left: 0px;
  width: 99px;
  height: 16px;
  transform: translate(0px, 0.3119999999999976px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__pi05Z {
  display: block;
  font-size: 10px;
  text-transform: uppercase;
  font-family: "Helvetica Neue";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 32.666px;
  color: rgba(255, 255, 255, 1);
}
.sendUsFeedback {
  position: absolute;
  top: 111px;
  left: 0px;
  width: 94px;
  height: 16px;
  transform: translate(0px, -0.031999999999996476px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__hpsKa {
  display: block;
  font-size: 10px;
  text-align: center;
  font-family: "Helvetica Neue";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
}
.studentDiscounts {
  position: absolute;
  top: 142px;
  left: 0px;
  width: 105px;
  height: 16px;
  transform: translate(0px, -0.03200000000001069px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text___7PfQ {
  display: block;
  font-size: 9px;
  text-transform: uppercase;
  font-family: "Helvetica Neue";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 32.666px;
  color: rgba(255, 255, 255, 1);
}
.frame23 {
  transform: translate(0.25px, 0px);
  width: 246px;
  height: 213px;
  display: block;
  position: absolute;
  top: 0px;
  left: 263px;
  overflow: hidden;
}
.frame24 {
  width: 246px;
  height: 210px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.getHelp {
  position: absolute;
  top: 4px;
  left: 0px;
  width: 52px;
  height: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__tscCn {
  display: block;
  font-size: 10px;
  text-transform: uppercase;
  font-family: "Helvetica Neue";
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
}
.orderStatus {
  position: absolute;
  top: 34px;
  left: 0px;
  width: 69px;
  height: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__jRkGl {
  display: block;
  font-size: 11px;
  font-family: "Helvetica Neue";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28px;
  color: rgba(255, 255, 255, 1);
}
.delivery {
  position: absolute;
  top: 65px;
  left: 0px;
  width: 44px;
  height: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__oNoG0 {
  display: block;
  font-size: 12px;
  font-family: "Helvetica Neue";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28px;
  color: rgba(255, 255, 255, 1);
}
.returns {
  position: absolute;
  top: 96px;
  left: 0px;
  width: 43px;
  height: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__tgJyR {
  display: block;
  font-size: 12px;
  font-family: "Helvetica Neue";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28px;
  color: rgba(255, 255, 255, 1);
}
.paymentOptions {
  position: absolute;
  top: 127px;
  left: 0px;
  width: 93px;
  height: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text___5NPp {
  display: block;
  font-size: 11px;
  font-family: "Helvetica Neue";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28px;
  color: rgba(255, 255, 255, 1);
}
.contactUsOnNikecomInquiries {
  position: absolute;
  top: 158px;
  left: 0px;
  width: 181px;
  height: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__bb5Kt {
  display: block;
  font-size: 11px;
  font-family: "Helvetica Neue";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28px;
  color: rgba(255, 255, 255, 1);
}
.contactUsOnAllOtherInquiries {
  position: absolute;
  top: 189px;
  left: 0px;
  width: 177px;
  height: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__dkrJn {
  display: block;
  font-size: 11px;
  font-family: "Helvetica Neue";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28px;
  color: rgba(255, 255, 255, 1);
}
.frame25 {
  transform: translate(-0.5px, 0px);
  width: 246px;
  height: 151px;
  display: block;
  position: absolute;
  top: 0px;
  left: 521px;
  overflow: hidden;
}
.frame26 {
  width: 246px;
  height: 148px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.aboutNike {
  position: absolute;
  top: 4px;
  left: 0px;
  width: 65px;
  height: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__cgzoW {
  display: block;
  font-size: 10px;
  text-transform: uppercase;
  font-family: "Helvetica Neue";
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
}
.news {
  position: absolute;
  top: 34px;
  left: 0px;
  width: 31px;
  height: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__bzQh3 {
  display: block;
  font-size: 12px;
  font-family: "Helvetica Neue";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28px;
  color: rgba(255, 255, 255, 1);
}
.careers {
  position: absolute;
  top: 65px;
  left: 0px;
  width: 43px;
  height: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__qp9Wh {
  display: block;
  font-size: 12px;
  font-family: "Helvetica Neue";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28px;
  color: rgba(255, 255, 255, 1);
}
.investors {
  position: absolute;
  top: 96px;
  left: 0px;
  width: 49px;
  height: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text___853If {
  display: block;
  font-size: 11px;
  font-family: "Helvetica Neue";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28px;
  color: rgba(255, 255, 255, 1);
}
.sustainability {
  position: absolute;
  top: 127px;
  left: 0px;
  width: 71px;
  height: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text___8Ww3W {
  display: block;
  font-size: 11px;
  font-family: "Helvetica Neue";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28px;
  color: rgba(255, 255, 255, 1);
}
.frame27 {
  width: 337px;
  height: 37px;
  display: block;
  position: absolute;
  top: 0px;
  left: 1029px;
}
.frame28 {
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  top: 0px;
  right: 138px;
  overflow: hidden;
}
.svg__hkH0 {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 30px;
  height: 30px;
  display: block;
  top: 0px;
  left: 0px;
}
.frame29 {
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  top: 0px;
  right: 92px;
  overflow: hidden;
}
.svg__lBrvZ {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 30px;
  height: 30px;
  display: block;
  top: 0px;
  left: 0px;
}
.frame30 {
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  top: 0px;
  right: 46px;
  overflow: hidden;
}
.svg__b4Ib {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 30px;
  height: 30px;
  display: block;
  top: 0px;
  left: 0px;
}
.frame31 {
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  overflow: hidden;
}
.svg___0Qn8V {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 30px;
  height: 30px;
  display: block;
  top: 0px;
  left: 0px;
}
.frame32 {
  width: 1372px;
  height: 62px;
  display: block;
  position: absolute;
  top: 269px;
  left: 34px;
}
.frame33 {
  width: 672px;
  height: 32px;
  display: block;
  position: absolute;
  top: 12px;
  left: 8px;
}
.autoLayoutHorizontal {
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  left: 0px;
  bottom: 0px;
  flex-direction: row;
  padding-right: 8.031px;
}
.autoLayoutHorizontal > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.autoLayoutHorizontal > :global(.__wab_flex-container) > *,
.autoLayoutHorizontal
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.autoLayoutHorizontal > :global(.__wab_flex-container) > picture > img,
.autoLayoutHorizontal
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.frame34 {
  width: 18px;
  height: 15px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.svg__w83Dx {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 18px;
  height: 15px;
  display: block;
  top: 0px;
  left: 0px;
}
.text__h9KwJ {
  display: block;
  font-size: 12px;
  font-family: "Helvetica Neue";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 12px;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
._2023NikeIncAllRightsReserved {
  position: absolute;
  top: 19px;
  left: 76px;
  width: 201px;
  height: 14px;
  transform: translate(0.03100000000000591px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__cxTk9 {
  display: block;
  font-size: 11px;
  font-family: "Helvetica Neue";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 12px;
  color: rgba(255, 255, 255, 1);
}
.frame35 {
  width: 680px;
  height: 46px;
  display: block;
  position: absolute;
  top: 16px;
  left: 686px;
}
.guides {
  position: absolute;
  top: 17px;
  left: 304px;
  width: 39px;
  height: 14px;
  transform: translate(-0.11000000000001364px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__cLKV {
  display: block;
  font-size: 12px;
  text-align: center;
  font-family: "Helvetica Neue";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28px;
  color: rgba(255, 255, 255, 1);
}
.termsOfSale {
  position: absolute;
  top: 17px;
  left: 370px;
  width: 74px;
  height: 14px;
  transform: translate(-0.07900000000000773px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__rFvOr {
  display: block;
  font-size: 12px;
  text-align: right;
  font-family: "Helvetica Neue";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28px;
  color: rgba(255, 255, 255, 1);
}
.termsOfUse {
  position: absolute;
  top: 17px;
  left: 471px;
  width: 71px;
  height: 14px;
  transform: translate(0.2810000000000059px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__zyJnF {
  display: block;
  font-size: 12px;
  text-align: right;
  font-family: "Helvetica Neue";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28px;
  color: rgba(255, 255, 255, 1);
}
.nikePrivacyPolicy {
  position: absolute;
  top: 17px;
  left: 570px;
  width: 103px;
  height: 14px;
  transform: translate(-0.03200000000003911px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__rjb0F {
  display: block;
  font-size: 11px;
  text-align: right;
  font-family: "Helvetica Neue";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28px;
  color: rgba(255, 255, 255, 1);
}
.frame36 {
  width: 1440px;
  height: 96px;
  display: block;
  position: absolute;
  left: -6px;
  top: 0px;
}
.frame37 {
  background: rgba(255, 255, 255, 1);
  height: 60px;
  display: block;
  position: absolute;
  top: 36px;
  left: 0px;
  right: 0px;
}
.frame3 {
  width: 760px;
  height: 60px;
  display: block;
  position: absolute;
  top: 4px;
  left: 340px;
  overflow: hidden;
}
.newFeatured {
  position: absolute;
  top: 17px;
  left: 160px;
  width: 116px;
  height: 17px;
  transform: translate(0.06200000000001182px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text___0Gsha {
  display: block;
  font-size: 15px;
  text-align: center;
  font-family: "Helvetica Neue";
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(16, 16, 16, 1);
}
.men {
  position: absolute;
  top: 17px;
  left: 300px;
  width: 32px;
  height: 17px;
  transform: translate(-0.32900000000000773px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__yctBm {
  display: block;
  font-size: 15px;
  text-align: center;
  font-family: "Helvetica Neue";
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(16, 16, 16, 1);
}
.women {
  position: absolute;
  top: 17px;
  left: 355px;
  width: 56px;
  height: 17px;
  transform: translate(-0.20400000000000773px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__uQwZ {
  display: block;
  font-size: 15px;
  text-align: center;
  font-family: "Helvetica Neue";
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(16, 16, 16, 1);
}
.kids {
  position: absolute;
  top: 17px;
  left: 434px;
  width: 32px;
  height: 17px;
  transform: translate(-0.36000000000001364px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__aY1Db {
  display: block;
  font-size: 15px;
  text-align: center;
  font-family: "Helvetica Neue";
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(16, 16, 16, 1);
}
.sale {
  position: absolute;
  top: 17px;
  left: 489px;
  width: 33px;
  height: 17px;
  transform: translate(-0.23500000000001364px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__nY4Lf {
  display: block;
  font-size: 16px;
  text-align: center;
  font-family: "Helvetica Neue";
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(16, 16, 16, 1);
}
.snkrs {
  position: absolute;
  top: 17px;
  left: 545px;
  width: 56px;
  height: 17px;
  transform: translate(-0.2039999999999509px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text___9JFt9 {
  display: block;
  font-size: 16px;
  text-align: center;
  font-family: "Helvetica Neue";
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(16, 16, 16, 1);
}
.frame38 {
  width: 1440px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
}
.frame39 {
  height: 60px;
  display: block;
  position: absolute;
  top: 0px;
  left: 107px;
  right: 122px;
  overflow: hidden;
}
.frame40 {
  width: 180px;
  display: block;
  position: absolute;
  top: 10px;
  right: 20px;
  bottom: 10px;
}
.frame41 {
  background: rgba(244, 244, 244, 1);
  width: 180px;
  height: 40px;
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  border-radius: 100px;
}
.frame42 {
  width: 84px;
  height: 18px;
  display: block;
  position: absolute;
  top: 11px;
  left: 48px;
  overflow: hidden;
}
.search {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 51px;
  height: 17px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__zSskR {
  display: block;
  font-size: 15px;
  font-family: "Helvetica Neue";
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(204, 204, 204, 1);
}
.autoLayoutHorizontal5 {
  display: flex;
  position: absolute;
  top: 2px;
  left: 2px;
  right: 138px;
  bottom: 2px;
  overflow: hidden;
  flex-direction: row;
  width: auto;
  height: auto;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 100px;
  padding: 6px 8px;
}
.frame43 {
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.svg__bt3MK {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #111;
  width: 24px;
  height: 24px;
  display: block;
  top: 0px;
  left: 0px;
}
.autoLayoutHorizontal2 {
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  top: 0px;
  left: 1318px;
  flex-direction: row;
  padding-top: 12px;
  padding-bottom: 12px;
}
.autoLayoutHorizontal2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.autoLayoutHorizontal2 > :global(.__wab_flex-container) > *,
.autoLayoutHorizontal2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.autoLayoutHorizontal2 > :global(.__wab_flex-container) > picture > img,
.autoLayoutHorizontal2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.autoLayoutHorizontal3 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 100px;
  padding: 6px;
}
.frame44 {
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.svg__x0GLm {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #111;
  width: 24px;
  height: 24px;
  display: block;
  top: 0px;
  left: 0px;
}
.autoLayoutHorizontal4 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 100px;
  padding: 6px;
}
.frame45 {
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.svg__qzHjF {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #111;
  width: 24px;
  height: 24px;
  display: block;
  top: 0px;
  left: 0px;
}
.frame46 {
  transform: translate(0.2640000000000029px, 0.26399999999999935px);
  display: block;
  position: absolute;
  top: -9px;
  left: 38px;
  right: 1324px;
  bottom: -10px;
  overflow: hidden;
}
.svg__yp67B {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #111;
  width: 78.47px;
  height: 78.47px;
  display: block;
  top: 0px;
  left: 0px;
}
.frame47 {
  background: rgba(244, 244, 244, 1);
  height: 36px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
}
.frame48 {
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  top: 6px;
  left: 48px;
  overflow: hidden;
}
.svg__kY2D7 {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #111;
  width: 24px;
  height: 24px;
  display: block;
  top: 0px;
  left: 0px;
}
