.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 0px;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    1fr minmax(0, var(--plsmc-wide-chunk)) var(--plsmc-viewport-gap)
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    var(--plsmc-viewport-gap) minmax(0, var(--plsmc-wide-chunk)) 1fr;
}
:where(.root > *) {
  grid-column: 4;
}
.graphQlFetcher:global(.__wab_instance) {
  width: 938px;
  max-width: 100%;
  object-fit: cover;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 1077px;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.frame {
  width: 1252px;
  height: 73px;
  display: block;
  flex-shrink: 0;
}
.frame15 {
  width: 1440px;
  height: 96px;
  display: block;
  position: absolute;
  left: -102px;
  top: 0px;
}
.frame16 {
  background: rgba(255, 255, 255, 1);
  height: 60px;
  display: block;
  position: absolute;
  top: 36px;
  left: 0px;
  right: 0px;
}
.frame17 {
  width: 760px;
  height: 60px;
  display: block;
  position: absolute;
  top: 4px;
  left: 340px;
  overflow: hidden;
}
.newFeatured {
  position: absolute;
  top: 17px;
  left: 160px;
  width: 116px;
  height: 17px;
  transform: translate(0.06200000000001182px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__ez3WB {
  display: block;
  font-size: 15px;
  text-align: center;
  font-family: "Helvetica Neue";
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(16, 16, 16, 1);
}
.men {
  position: absolute;
  top: 17px;
  left: 300px;
  width: 32px;
  height: 17px;
  transform: translate(-0.32900000000000773px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__wcgS9 {
  display: block;
  font-size: 15px;
  text-align: center;
  font-family: "Helvetica Neue";
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(16, 16, 16, 1);
}
.women {
  position: absolute;
  top: 17px;
  left: 355px;
  width: 56px;
  height: 17px;
  transform: translate(-0.20400000000000773px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__oxNMd {
  display: block;
  font-size: 15px;
  text-align: center;
  font-family: "Helvetica Neue";
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(16, 16, 16, 1);
}
.kids {
  position: absolute;
  top: 17px;
  left: 434px;
  width: 32px;
  height: 17px;
  transform: translate(-0.36000000000001364px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__a15Gr {
  display: block;
  font-size: 15px;
  text-align: center;
  font-family: "Helvetica Neue";
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(16, 16, 16, 1);
}
.sale {
  position: absolute;
  top: 17px;
  left: 489px;
  width: 33px;
  height: 17px;
  transform: translate(-0.23500000000001364px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__yyVZw {
  display: block;
  font-size: 16px;
  text-align: center;
  font-family: "Helvetica Neue";
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(16, 16, 16, 1);
}
.snkrs {
  position: absolute;
  top: 17px;
  left: 545px;
  width: 56px;
  height: 17px;
  transform: translate(-0.2039999999999509px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__uCuWe {
  display: block;
  font-size: 16px;
  text-align: center;
  font-family: "Helvetica Neue";
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(16, 16, 16, 1);
}
.frame18 {
  width: 1440px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
}
.frame19 {
  height: 60px;
  display: block;
  position: absolute;
  top: 0px;
  left: 107px;
  right: 122px;
  overflow: hidden;
}
.frame6 {
  width: 180px;
  display: block;
  position: absolute;
  top: 10px;
  right: 20px;
  bottom: 10px;
}
.frame7 {
  background: rgba(244, 244, 244, 1);
  width: 180px;
  height: 40px;
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  border-radius: 100px;
}
.frame8 {
  width: 84px;
  height: 18px;
  display: block;
  position: absolute;
  top: 11px;
  left: 48px;
  overflow: hidden;
}
.search {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 51px;
  height: 17px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__wlpFz {
  display: block;
  font-size: 15px;
  font-family: "Helvetica Neue";
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(204, 204, 204, 1);
}
.autoLayoutHorizontal5 {
  display: flex;
  position: absolute;
  top: 2px;
  left: 2px;
  right: 138px;
  bottom: 2px;
  overflow: hidden;
  flex-direction: row;
  width: auto;
  height: auto;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 100px;
  padding: 6px 8px;
}
.frame9 {
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.svg___7EsmQ {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #111;
  width: 24px;
  height: 24px;
  display: block;
  top: 0px;
  left: 0px;
}
.autoLayoutHorizontal6 {
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  top: 0px;
  left: 1318px;
  flex-direction: row;
  padding-top: 12px;
  padding-bottom: 12px;
}
.autoLayoutHorizontal6 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.autoLayoutHorizontal6 > :global(.__wab_flex-container) > *,
.autoLayoutHorizontal6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.autoLayoutHorizontal6 > :global(.__wab_flex-container) > picture > img,
.autoLayoutHorizontal6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.autoLayoutHorizontal3 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 100px;
  padding: 6px;
}
.frame10 {
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.svg__w3XEh {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #111;
  width: 24px;
  height: 24px;
  display: block;
  top: 0px;
  left: 0px;
}
.autoLayoutHorizontal4 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 100px;
  padding: 6px;
}
.frame11 {
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.svg__jbTo8 {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #111;
  width: 24px;
  height: 24px;
  display: block;
  top: 0px;
  left: 0px;
}
.frame12 {
  transform: translate(0.2640000000000029px, 0.26399999999999935px);
  display: block;
  position: absolute;
  top: -9px;
  left: 38px;
  right: 1324px;
  bottom: -10px;
  overflow: hidden;
}
.svg__viezE {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #111;
  width: 78.47px;
  height: 78.47px;
  display: block;
  top: 0px;
  left: 0px;
}
.frame13 {
  background: rgba(244, 244, 244, 1);
  height: 36px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
}
.frame14 {
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  top: 6px;
  left: 48px;
  overflow: hidden;
}
.svg__yUov3 {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #111;
  width: 24px;
  height: 24px;
  display: block;
  top: 0px;
  left: 0px;
}
.header {
  width: 622px;
  height: 89px;
  display: block;
  flex-shrink: 0;
}
.container {
  background: rgba(255, 255, 255, 1);
  width: 117.2%;
  height: 55.07%;
  display: block;
  position: absolute;
  top: 18px;
  left: 0%;
  margin-right: 0px;
}
.group5 {
  width: 750px;
  height: 83px;
  display: block;
  position: absolute;
  top: 13px;
  left: 175px;
}
.group6 {
  background: rgba(255, 255, 255, 1);
  transform: translate(0.4579999999999984px, 0px);
  width: 71.33%;
  height: 100.24%;
  display: block;
  position: absolute;
  top: 0%;
  left: 1.07%;
  margin-right: 0px;
}
.titleHeader {
  display: block;
  font-size: 24px;
  font-family: "Jua", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: #000000;
  position: absolute;
  top: 31px;
  left: 141px;
  text-align: center;
  width: 250px;
  height: 42px;
}
.button__nOSkn:global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  left: 604.6000061035156px;
  top: 50px;
  height: 28px;
}
.svg___00Dy0 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__jwsQl {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.form:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 602px;
  height: 845px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  object-fit: cover;
  font-weight: 700;
  flex-shrink: 0;
  padding: 8px;
}
.button___3900X:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__pJZdz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.formField__uPsKv:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.text__doPhi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  min-width: 0;
}
.input:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField___6FH9:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.text__jO46O {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.input3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__xDToM:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.text__av6Wj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.input4:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField___1Gwh3:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.text___2IvEs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.input5:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__zrVsu:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.text__oWtmM {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.input6:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__lzsmt:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.text__hhhXf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.select:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.formField__hVFf:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.text__yOf0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.input8:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__dpl3B:global(.__wab_instance) {
  width: 697px;
  margin-bottom: 24px;
  max-width: 100%;
  object-fit: cover;
}
.text__vFqFf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.input2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__hBAq5:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.text__qCsxK {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.input9:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.button__b0MVd:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  background: #000000;
}
.text__l9Nn9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  min-width: 0;
}
.frame20 {
  background: rgba(16, 16, 16, 1);
  width: 1440px;
  height: 331px;
  display: block;
  flex-shrink: 0;
}
.frame2 {
  width: 1440px;
  height: 331px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.frame3 {
  width: 1372px;
  height: 213px;
  display: block;
  position: absolute;
  top: 40px;
  left: 34px;
}
.frame4 {
  width: 1029px;
  height: 213px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.frame5 {
  width: 246px;
  height: 170px;
  display: block;
  position: absolute;
  top: 0px;
  left: 6px;
  overflow: hidden;
}
.frame21 {
  width: 246px;
  height: 167px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.findAStore {
  position: absolute;
  top: 8px;
  left: 0px;
  width: 69px;
  height: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__k4Uwi {
  display: block;
  font-size: 10px;
  text-transform: uppercase;
  font-family: "Helvetica Neue";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 32.666px;
  color: rgba(255, 255, 255, 1);
}
.becomeAMember {
  position: absolute;
  top: 44px;
  left: 0px;
  width: 99px;
  height: 16px;
  transform: translate(0px, -0.3440000000000012px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__j6Bm {
  display: block;
  font-size: 10px;
  text-transform: uppercase;
  font-family: "Helvetica Neue";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 32.666px;
  color: rgba(255, 255, 255, 1);
}
.signUpForEmail {
  position: absolute;
  top: 79px;
  left: 0px;
  width: 99px;
  height: 16px;
  transform: translate(0px, 0.3119999999999976px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text___0Bw4R {
  display: block;
  font-size: 10px;
  text-transform: uppercase;
  font-family: "Helvetica Neue";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 32.666px;
  color: rgba(255, 255, 255, 1);
}
.sendUsFeedback {
  position: absolute;
  top: 111px;
  left: 0px;
  width: 94px;
  height: 16px;
  transform: translate(0px, -0.031999999999996476px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__dbku1 {
  display: block;
  font-size: 10px;
  text-align: center;
  font-family: "Helvetica Neue";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
}
.studentDiscounts {
  position: absolute;
  top: 142px;
  left: 0px;
  width: 105px;
  height: 16px;
  transform: translate(0px, -0.03200000000001069px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__t93DI {
  display: block;
  font-size: 9px;
  text-transform: uppercase;
  font-family: "Helvetica Neue";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 32.666px;
  color: rgba(255, 255, 255, 1);
}
.frame22 {
  transform: translate(0.25px, 0px);
  width: 246px;
  height: 213px;
  display: block;
  position: absolute;
  top: 0px;
  left: 263px;
  overflow: hidden;
}
.frame23 {
  width: 246px;
  height: 210px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.getHelp {
  position: absolute;
  top: 4px;
  left: 0px;
  width: 52px;
  height: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__bpFeY {
  display: block;
  font-size: 10px;
  text-transform: uppercase;
  font-family: "Helvetica Neue";
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
}
.orderStatus {
  position: absolute;
  top: 34px;
  left: 0px;
  width: 69px;
  height: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__m15ML {
  display: block;
  font-size: 11px;
  font-family: "Helvetica Neue";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28px;
  color: rgba(125, 125, 125, 1);
}
.delivery {
  position: absolute;
  top: 65px;
  left: 0px;
  width: 44px;
  height: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text___0NUhF {
  display: block;
  font-size: 12px;
  font-family: "Helvetica Neue";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28px;
  color: rgba(125, 125, 125, 1);
}
.returns {
  position: absolute;
  top: 96px;
  left: 0px;
  width: 43px;
  height: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__mYzEz {
  display: block;
  font-size: 12px;
  font-family: "Helvetica Neue";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28px;
  color: rgba(125, 125, 125, 1);
}
.paymentOptions {
  position: absolute;
  top: 127px;
  left: 0px;
  width: 93px;
  height: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text___22Jba {
  display: block;
  font-size: 11px;
  font-family: "Helvetica Neue";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28px;
  color: rgba(125, 125, 125, 1);
}
.contactUsOnNikecomInquiries {
  position: absolute;
  top: 158px;
  left: 0px;
  width: 181px;
  height: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__cqILb {
  display: block;
  font-size: 11px;
  font-family: "Helvetica Neue";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28px;
  color: rgba(125, 125, 125, 1);
}
.contactUsOnAllOtherInquiries {
  position: absolute;
  top: 189px;
  left: 0px;
  width: 177px;
  height: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__jef98 {
  display: block;
  font-size: 11px;
  font-family: "Helvetica Neue";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28px;
  color: rgba(125, 125, 125, 1);
}
.frame24 {
  transform: translate(-0.5px, 0px);
  width: 246px;
  height: 151px;
  display: block;
  position: absolute;
  top: 0px;
  left: 521px;
  overflow: hidden;
}
.frame25 {
  width: 246px;
  height: 148px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.aboutNike {
  position: absolute;
  top: 4px;
  left: 0px;
  width: 65px;
  height: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text___22WVo {
  display: block;
  font-size: 10px;
  text-transform: uppercase;
  font-family: "Helvetica Neue";
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
}
.news {
  position: absolute;
  top: 34px;
  left: 0px;
  width: 31px;
  height: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__nk6Ya {
  display: block;
  font-size: 12px;
  font-family: "Helvetica Neue";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28px;
  color: rgba(125, 125, 125, 1);
}
.careers {
  position: absolute;
  top: 65px;
  left: 0px;
  width: 43px;
  height: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__nuQvA {
  display: block;
  font-size: 12px;
  font-family: "Helvetica Neue";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28px;
  color: rgba(125, 125, 125, 1);
}
.investors {
  position: absolute;
  top: 96px;
  left: 0px;
  width: 49px;
  height: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text___0Ca1Q {
  display: block;
  font-size: 11px;
  font-family: "Helvetica Neue";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28px;
  color: rgba(125, 125, 125, 1);
}
.sustainability {
  position: absolute;
  top: 127px;
  left: 0px;
  width: 71px;
  height: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__dcD9X {
  display: block;
  font-size: 11px;
  font-family: "Helvetica Neue";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28px;
  color: rgba(125, 125, 125, 1);
}
.frame26 {
  width: 337px;
  height: 37px;
  display: block;
  position: absolute;
  top: 0px;
  left: 1029px;
}
.frame27 {
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  top: 0px;
  right: 138px;
  overflow: hidden;
}
.svg__r1FHe {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #7e7e7e;
  width: 30px;
  height: 30px;
  display: block;
  top: 0px;
  left: 0px;
}
.frame28 {
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  top: 0px;
  right: 92px;
  overflow: hidden;
}
.svg___4AZvS {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #7e7e7e;
  width: 30px;
  height: 30px;
  display: block;
  top: 0px;
  left: 0px;
}
.frame29 {
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  top: 0px;
  right: 46px;
  overflow: hidden;
}
.svg___5MOrB {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #7e7e7e;
  width: 30px;
  height: 30px;
  display: block;
  top: 0px;
  left: 0px;
}
.frame30 {
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  overflow: hidden;
}
.svg__dnwL2 {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #7e7e7e;
  width: 30px;
  height: 30px;
  display: block;
  top: 0px;
  left: 0px;
}
.frame31 {
  width: 1372px;
  height: 62px;
  display: block;
  position: absolute;
  top: 269px;
  left: 34px;
}
.frame32 {
  width: 672px;
  height: 32px;
  display: block;
  position: absolute;
  top: 12px;
  left: 8px;
}
.autoLayoutHorizontal {
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  left: 0px;
  bottom: 0px;
  flex-direction: row;
  padding-right: 8.031px;
}
.autoLayoutHorizontal > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.autoLayoutHorizontal > :global(.__wab_flex-container) > *,
.autoLayoutHorizontal
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.autoLayoutHorizontal > :global(.__wab_flex-container) > picture > img,
.autoLayoutHorizontal
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.frame33 {
  width: 18px;
  height: 15px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.svg___1EHrh {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 18px;
  height: 15px;
  display: block;
  top: 0px;
  left: 0px;
}
.text___1XWYh {
  display: block;
  font-size: 12px;
  font-family: "Helvetica Neue";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 12px;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
._2023NikeIncAllRightsReserved {
  position: absolute;
  top: 19px;
  left: 76px;
  width: 201px;
  height: 14px;
  transform: translate(0.03100000000000591px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__x8IU {
  display: block;
  font-size: 11px;
  font-family: "Helvetica Neue";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 12px;
  color: rgba(125, 125, 125, 1);
}
.frame34 {
  width: 680px;
  height: 46px;
  display: block;
  position: absolute;
  top: 16px;
  left: 686px;
}
.guides {
  position: absolute;
  top: 17px;
  left: 304px;
  width: 39px;
  height: 14px;
  transform: translate(-0.11000000000001364px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text___6Nq {
  display: block;
  font-size: 12px;
  text-align: center;
  font-family: "Helvetica Neue";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28px;
  color: rgba(125, 125, 125, 1);
}
.termsOfSale {
  position: absolute;
  top: 17px;
  left: 370px;
  width: 74px;
  height: 14px;
  transform: translate(-0.07900000000000773px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__uxDkl {
  display: block;
  font-size: 12px;
  text-align: right;
  font-family: "Helvetica Neue";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28px;
  color: rgba(125, 125, 125, 1);
}
.termsOfUse {
  position: absolute;
  top: 17px;
  left: 471px;
  width: 71px;
  height: 14px;
  transform: translate(0.2810000000000059px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__xezzz {
  display: block;
  font-size: 12px;
  text-align: right;
  font-family: "Helvetica Neue";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28px;
  color: rgba(125, 125, 125, 1);
}
.nikePrivacyPolicy {
  position: absolute;
  top: 17px;
  left: 570px;
  width: 103px;
  height: 14px;
  transform: translate(-0.03200000000003911px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__lk8Sh {
  display: block;
  font-size: 11px;
  text-align: right;
  font-family: "Helvetica Neue";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28px;
  color: rgba(125, 125, 125, 1);
}
