.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    1fr minmax(0, var(--plsmc-wide-chunk)) var(--plsmc-viewport-gap)
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    var(--plsmc-viewport-gap) minmax(0, var(--plsmc-wide-chunk)) 1fr;
  padding: 0px;
}
:where(.root > *) {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  :where(.root > *) {
    grid-column: 4;
  }
}
.graphQlFetcher__waN73:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  min-width: 0;
}
.freeBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.nike15 {
  background: rgba(255, 255, 255, 1);
  width: 1411px;
  height: 1260px;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
}
.frame {
  height: 96px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
}
.frame2 {
  background: rgba(255, 255, 255, 1);
  height: 60px;
  display: block;
  position: absolute;
  top: 36px;
  left: 0px;
  right: 0px;
}
.frame3 {
  width: 721px;
  height: 60px;
  display: block;
  position: absolute;
  top: 4px;
  left: 345px;
  overflow: hidden;
}
.newFeatured {
  position: absolute;
  top: 14px;
  left: 135px;
  width: 121px;
  height: 24px;
  transform: translate(0.03100000000000591px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__iAi8T {
  display: block;
  font-size: 15px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(16, 16, 16, 1);
}
.men {
  position: absolute;
  top: 14px;
  left: 280px;
  width: 33px;
  height: 24px;
  transform: translate(-0.40699999999998226px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__do1L4 {
  display: block;
  font-size: 15px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(16, 16, 16, 1);
}
.women {
  position: absolute;
  top: 14px;
  left: 336px;
  width: 57px;
  height: 24px;
  transform: translate(-0.09399999999999409px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text___6QH6 {
  display: block;
  font-size: 15px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(16, 16, 16, 1);
}
.kids {
  position: absolute;
  top: 14px;
  left: 416px;
  width: 34px;
  height: 24px;
  transform: translate(0.45299999999997453px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__p33F {
  display: block;
  font-size: 15px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(16, 16, 16, 1);
}
.sale {
  position: absolute;
  top: 14px;
  left: 474px;
  width: 34px;
  height: 24px;
  transform: translate(-0.26600000000001955px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__hyrNb {
  display: block;
  font-size: 16px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(16, 16, 16, 1);
}
.snkrs {
  position: absolute;
  top: 14px;
  left: 531px;
  width: 56px;
  height: 24px;
  transform: translate(-0.21900000000005093px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__iXum {
  display: block;
  font-size: 16px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(16, 16, 16, 1);
}
.frame4 {
  width: 1411px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
}
.frame5 {
  height: 60px;
  display: block;
  position: absolute;
  top: 0px;
  left: 107px;
  right: 122px;
  overflow: hidden;
}
.frame6 {
  width: 180px;
  display: block;
  position: absolute;
  top: 10px;
  right: 20px;
  bottom: 10px;
}
.frame7 {
  background: rgba(244, 244, 244, 1);
  width: 180px;
  height: 40px;
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  border-radius: 100px;
}
.search {
  position: absolute;
  top: 8px;
  left: 48px;
  width: 85px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__qiW4 {
  display: block;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(16, 16, 16, 1);
}
.autoLayoutHorizontal {
  display: flex;
  position: absolute;
  top: 2px;
  left: 2px;
  right: 138px;
  bottom: 2px;
  overflow: hidden;
  flex-direction: row;
  width: auto;
  height: auto;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 100px;
  padding: 6px 8px;
}
.frame8 {
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.svg__w4Ta7 {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #111;
  width: 24px;
  height: 24px;
  display: block;
  top: 0px;
  left: 0px;
}
.svg___6Lf86 {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #111;
  width: 78.47px;
  height: 78.47px;
  display: block;
  top: -11px;
  left: 41px;
}
.autoLayoutHorizontal2 {
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  top: 0px;
  left: 1289px;
  flex-direction: row;
  padding-top: 12px;
  padding-bottom: 12px;
}
.autoLayoutHorizontal2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.autoLayoutHorizontal2 > :global(.__wab_flex-container) > *,
.autoLayoutHorizontal2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.autoLayoutHorizontal2 > :global(.__wab_flex-container) > picture > img,
.autoLayoutHorizontal2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.autoLayoutHorizontal3 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 100px;
  padding: 6px;
}
.frame9 {
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.svg__tuNi7 {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #111;
  width: 24px;
  height: 24px;
  display: block;
  top: 0px;
  left: 0px;
}
.autoLayoutHorizontal4 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 100px;
  padding: 6px;
}
.frame10 {
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.svg__ehaps {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #111;
  width: 24px;
  height: 24px;
  display: block;
  top: 0px;
  left: 0px;
}
.frame11 {
  transform: translate(0.2640000000000029px, 0.26399999999999935px);
  display: block;
  position: absolute;
  top: -9px;
  left: 38px;
  right: 1295px;
  bottom: -10px;
  overflow: hidden;
}
.frame12 {
  background: rgba(244, 244, 244, 1);
  height: 36px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
}
.frame13 {
  width: 1411px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
}
.frame14 {
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  top: 6px;
  left: 48px;
  overflow: hidden;
}
.svg__wOy4G {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #111;
  width: 24px;
  height: 24px;
  display: block;
  top: 0px;
  left: 0px;
}
.autoLayoutHorizontal5 {
  transform: translate(0.21800000000007458px, 0px);
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  top: 0px;
  left: 1093px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.autoLayoutHorizontal6 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  padding: 8px 5.156px 8px 12px;
}
.autoLayoutHorizontal6 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 16.968px);
  width: calc(100% + 16.968px);
}
.autoLayoutHorizontal6 > :global(.__wab_flex-container) > *,
.autoLayoutHorizontal6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.autoLayoutHorizontal6 > :global(.__wab_flex-container) > picture > img,
.autoLayoutHorizontal6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16.968px;
}
.text__bFmbd {
  display: block;
  font-size: 11px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 18px;
  color: rgba(16, 16, 16, 1);
  position: relative;
}
.text__xPpD3 {
  display: block;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 18px;
  color: rgba(16, 16, 16, 1);
  position: relative;
}
.autoLayoutHorizontal7 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  padding: 9px 3.156px 9px 8px;
}
.autoLayoutHorizontal7 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 12.843px);
  width: calc(100% + 12.843px);
}
.autoLayoutHorizontal7 > :global(.__wab_flex-container) > *,
.autoLayoutHorizontal7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.autoLayoutHorizontal7 > :global(.__wab_flex-container) > picture > img,
.autoLayoutHorizontal7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12.843px;
}
.text__yhhG1 {
  display: block;
  font-size: 11px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 18px;
  color: rgba(16, 16, 16, 1);
  position: relative;
}
.text__xBbHb {
  display: block;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 18px;
  color: rgba(16, 16, 16, 1);
  position: relative;
}
.frame15 {
  width: 126px;
  height: 36px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.text__zaaby {
  display: block;
  font-size: 11px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 18px;
  color: rgba(16, 16, 16, 1);
  position: absolute;
  top: 9px;
  left: 8px;
}
.text___2SGhZ {
  display: block;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 18px;
  color: rgba(16, 16, 16, 1);
  position: absolute;
  top: 9px;
  left: 62px;
  transform: translate(-0.20400000000000063px, 0px);
}
.text__by3E3 {
  display: block;
  font-size: 12px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 18px;
  color: rgba(16, 16, 16, 1);
  position: absolute;
  top: 9px;
  left: 77px;
  transform: translate(-0.046999999999997044px, 0px);
}
.frame16 {
  background: rgba(255, 255, 255, 1);
  transform: translate(-0.5px, 0px);
  width: 380px;
  height: 833px;
  display: block;
  position: absolute;
  top: 96px;
  left: 516px;
}
.frame17 {
  width: 324px;
  height: 182px;
  display: block;
  position: absolute;
  top: 28px;
  left: 28px;
}
.image {
  background: url("./images/image.png") 141px 1px / 43px 15px no-repeat;
  width: 324px;
  height: 17px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.becomeANikeMember {
  position: absolute;
  top: 46px;
  left: 46px;
  width: 232px;
  height: 31px;
  transform: translate(0.48400000000000176px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text___96Gb {
  display: block;
  font-size: 18px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 26px;
  color: rgba(16, 16, 16, 1);
}
.createYourNikeMemberProfileAndGetFirstAccessToTheVeryBestOfNikeProductsInspirationAndCommunity {
  position: absolute;
  top: 104px;
  left: 21px;
  width: 283px;
  height: 60px;
  transform: translate(0.062000000000001165px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__abms7 {
  display: block;
  font-size: 14px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 22px;
  color: rgba(140, 140, 140, 1);
}
.frame18 {
  width: 324px;
  height: 561px;
  display: block;
  position: absolute;
  top: 210px;
  left: 28px;
  overflow: hidden;
}
.frame19 {
  width: 324px;
  height: 59px;
  display: block;
  position: absolute;
  top: 452px;
  left: 0px;
}
.byCreatingAnAccountYouAgreeToNikesPrivacyPolicyAndTermsOfUse {
  position: absolute;
  top: 4px;
  left: 7px;
  width: 310px;
  height: 30px;
  transform: translate(0.4370000000000003px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__zfjP3 {
  display: block;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0em;
  line-height: 16px;
  color: rgba(140, 140, 140, 1);
}
.frame20 {
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(228, 228, 228, 1);
  height: 40px;
  display: block;
  position: absolute;
  top: 5px;
  left: 0px;
  right: 0px;
  border-radius: 3px;
}
.emailAddress {
  position: absolute;
  top: 12px;
  left: 17px;
  width: 291px;
  height: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__cHtIi {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 17px;
  color: rgba(140, 140, 140, 1);
}
.frame21 {
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(228, 228, 228, 1);
  height: 40px;
  display: block;
  position: absolute;
  top: 58px;
  left: 0px;
  right: 0px;
  border-radius: 3px;
}
.password {
  position: absolute;
  top: 12px;
  left: 17px;
  width: 262px;
  height: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__oYz {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 17px;
  color: rgba(140, 140, 140, 1);
}
.frame22 {
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(228, 228, 228, 1);
  height: 40px;
  display: block;
  position: absolute;
  top: 111px;
  left: 0px;
  right: 0px;
  border-radius: 3px;
}
.firstName {
  position: absolute;
  top: 12px;
  left: 17px;
  width: 291px;
  height: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__gdsGd {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 17px;
  color: rgba(140, 140, 140, 1);
}
.frame23 {
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(228, 228, 228, 1);
  height: 40px;
  display: block;
  position: absolute;
  top: 164px;
  left: 0px;
  right: 0px;
  border-radius: 3px;
}
.lastName {
  position: absolute;
  top: 12px;
  left: 17px;
  width: 291px;
  height: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__nX4B6 {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 17px;
  color: rgba(140, 140, 140, 1);
}
.frame24 {
  height: 69px;
  display: block;
  position: absolute;
  top: 217px;
  left: 0px;
  right: 0px;
}
.getANikeMemberRewardEveryYearOnYourBirthday {
  position: absolute;
  top: 47px;
  left: 11px;
  width: 302px;
  height: 14px;
  transform: translate(0.375px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text___8NEiH {
  display: block;
  font-size: 11px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(140, 140, 140, 1);
}
.dateOfBirth {
  position: absolute;
  top: 12px;
  left: 16px;
  width: 79px;
  height: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__mZsAb {
  display: block;
  font-size: 13px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(140, 140, 140, 1);
}
.frame25 {
  height: 40px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  overflow: hidden;
  border-radius: 3px;
}
.ddmmyyyy {
  position: absolute;
  top: 11px;
  left: 17px;
  width: 289px;
  height: 19px;
  transform: translate(0px, -0.5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__lSqlj {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 17px;
}
.frame26 {
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(228, 228, 228, 1);
  height: 40px;
  display: block;
  position: absolute;
  top: 296px;
  left: 0px;
  right: 0px;
  border-radius: 3px;
}
.frame27 {
  width: 10px;
  height: 8px;
  display: block;
  position: absolute;
  top: 17px;
  right: 7px;
  overflow: hidden;
}
.group {
  width: 10px;
  height: 8px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.group2 {
  width: 10px;
  height: 8px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.group3 {
  width: 10px;
  height: 8px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.group4 {
  width: 10px;
  height: 8px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.svg__fPm6K {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #bcbcbc;
  width: 10px;
  height: 7.142px;
  display: block;
  top: 0px;
  left: 0px;
}
.india {
  position: absolute;
  top: 12px;
  left: 17px;
  width: 291px;
  height: 17px;
  transform: translate(0px, -0.5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__keqo1 {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 17px;
  color: rgba(140, 140, 140, 1);
}
.frame28 {
  height: 40px;
  display: block;
  position: absolute;
  top: 346px;
  left: 0px;
  right: 0px;
}
.frame29 {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 170px;
  bottom: -3px;
}
.rectangle {
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(228, 228, 228, 1);
  width: 154px;
  height: 40px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 3px;
}
.male {
  position: absolute;
  top: 12px;
  left: 62px;
  width: 31px;
  height: 16px;
  transform: translate(-0.23499999999999943px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__s9NZx {
  display: block;
  font-size: 13px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(140, 140, 140, 1);
}
.frame30 {
  transform: translate(0.10900000000000887px, 0px);
  display: block;
  position: absolute;
  top: 0px;
  left: 170px;
  right: 0px;
  bottom: -3px;
}
.rectangle2 {
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(228, 228, 228, 1);
  width: 154px;
  height: 40px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 3px;
}
.female {
  position: absolute;
  top: 12px;
  left: 54px;
  width: 47px;
  height: 16px;
  transform: translate(-0.4069999999999965px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__otj6L {
  display: block;
  font-size: 13px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(140, 140, 140, 1);
}
.autoLayoutHorizontal8 {
  transform: translate(0px, 0.34300000000001774px);
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  top: 406px;
  left: 0px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 34px;
  padding-right: 43.003px;
}
.rectangle3 {
  width: 20px;
  height: 20px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 3px;
}
.text__lKVf {
  display: block;
  font-size: 11px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 14px;
  color: rgba(140, 140, 140, 1);
  position: relative;
  width: 247px;
  flex-shrink: 0;
}
.frame31 {
  background: #272020;
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 1);
  width: 324px;
  height: 40px;
  display: flex;
  position: absolute;
  top: 516px;
  left: 0px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 36px;
}
.svg__iMnWs {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__u2Aul {
  color: #f2f2e5;
  font-size: 12px;
}
.svg___9O7Px {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.frame32 {
  height: 24px;
  display: block;
  position: absolute;
  top: 776px;
  left: 28px;
  right: 28px;
}
.alreadyAMemberSignIn {
  position: absolute;
  top: 10px;
  left: 88px;
  width: 149px;
  height: 14px;
  transform: translate(-0.375px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.link {
  display: block;
  font-size: 11px;
  text-align: center;
  letter-spacing: 0em;
  line-height: 14px;
  color: #222324;
}
.frame33 {
  background: rgba(16, 16, 16, 1);
  height: 331px;
  display: block;
  position: absolute;
  top: 929px;
  left: 0px;
  right: 0px;
}
.frame34 {
  width: 1411px;
  height: 331px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.frame35 {
  width: 1343px;
  height: 213px;
  display: block;
  position: absolute;
  top: 40px;
  left: 34px;
}
.frame36 {
  width: 1008px;
  height: 213px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.frame37 {
  width: 240px;
  height: 170px;
  display: block;
  position: absolute;
  top: 0px;
  left: 6px;
  overflow: hidden;
}
.frame38 {
  width: 240px;
  height: 167px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.findAStore {
  position: absolute;
  top: 8px;
  left: 0px;
  width: 69px;
  height: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__mwj8 {
  display: block;
  font-size: 10px;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 32.666px;
  color: rgba(255, 255, 255, 1);
}
.becomeAMember {
  position: absolute;
  top: 44px;
  left: 0px;
  width: 99px;
  height: 16px;
  transform: translate(0px, -0.3440000000000012px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__hzmhf {
  display: block;
  font-size: 10px;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 32.666px;
  color: rgba(255, 255, 255, 1);
}
.signUpForEmail {
  position: absolute;
  top: 79px;
  left: 0px;
  width: 99px;
  height: 16px;
  transform: translate(0px, 0.3119999999999976px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__qb53A {
  display: block;
  font-size: 10px;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 32.666px;
  color: rgba(255, 255, 255, 1);
}
.sendUsFeedback {
  position: absolute;
  top: 111px;
  left: 0px;
  width: 94px;
  height: 16px;
  transform: translate(0px, -0.031999999999996476px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__wwwvB {
  display: block;
  font-size: 10px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
}
.studentDiscounts {
  position: absolute;
  top: 142px;
  left: 0px;
  width: 105px;
  height: 16px;
  transform: translate(0px, -0.03200000000001069px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__uYhJh {
  display: block;
  font-size: 9px;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 32.666px;
  color: rgba(255, 255, 255, 1);
}
.frame39 {
  transform: translate(-0.18799999999998818px, 0px);
  width: 240px;
  height: 213px;
  display: block;
  position: absolute;
  top: 0px;
  left: 258px;
  overflow: hidden;
}
.frame40 {
  width: 240px;
  height: 210px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.getHelp {
  position: absolute;
  top: 4px;
  left: 0px;
  width: 52px;
  height: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__x5VUj {
  display: block;
  font-size: 10px;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
}
.orderStatus {
  position: absolute;
  top: 32px;
  left: 0px;
  width: 73px;
  height: 17px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__wZdsM {
  display: block;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28px;
  color: rgba(125, 125, 125, 1);
}
.delivery {
  position: absolute;
  top: 63px;
  left: 0px;
  width: 47px;
  height: 17px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__rk1CW {
  display: block;
  font-size: 11px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28px;
  color: rgba(125, 125, 125, 1);
}
.returns {
  position: absolute;
  top: 94px;
  left: 0px;
  width: 45px;
  height: 17px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text___60GuM {
  display: block;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28px;
  color: rgba(125, 125, 125, 1);
}
.paymentOptions {
  position: absolute;
  top: 125px;
  left: 0px;
  width: 97px;
  height: 17px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text___7M5Nf {
  display: block;
  font-size: 11px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28px;
  color: rgba(125, 125, 125, 1);
}
.contactUsOnNikecomInquiries {
  position: absolute;
  top: 156px;
  left: 0px;
  width: 189px;
  height: 17px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__grE9T {
  display: block;
  font-size: 11px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28px;
  color: rgba(125, 125, 125, 1);
}
.contactUsOnAllOtherInquiries {
  position: absolute;
  top: 187px;
  left: 0px;
  width: 187px;
  height: 17px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__ibio2 {
  display: block;
  font-size: 11px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28px;
  color: rgba(125, 125, 125, 1);
}
.frame41 {
  transform: translate(-0.375px, 0px);
  width: 240px;
  height: 151px;
  display: block;
  position: absolute;
  top: 0px;
  left: 510px;
  overflow: hidden;
}
.frame42 {
  width: 240px;
  height: 148px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.aboutNike {
  position: absolute;
  top: 4px;
  left: 0px;
  width: 65px;
  height: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__bscQe {
  display: block;
  font-size: 9px;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
}
.news {
  position: absolute;
  top: 32px;
  left: 0px;
  width: 32px;
  height: 17px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__rAtMq {
  display: block;
  font-size: 11px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28px;
  color: rgba(125, 125, 125, 1);
}
.careers {
  position: absolute;
  top: 63px;
  left: 0px;
  width: 45px;
  height: 17px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text___3Bgsn {
  display: block;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28px;
  color: rgba(125, 125, 125, 1);
}
.investors {
  position: absolute;
  top: 94px;
  left: 0px;
  width: 52px;
  height: 17px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__o8MK {
  display: block;
  font-size: 11px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28px;
  color: rgba(125, 125, 125, 1);
}
.sustainability {
  position: absolute;
  top: 125px;
  left: 0px;
  width: 77px;
  height: 17px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__mTpHz {
  display: block;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28px;
  color: rgba(125, 125, 125, 1);
}
.frame43 {
  transform: translate(0.25px, 0px);
  width: 330px;
  height: 37px;
  display: block;
  position: absolute;
  top: 0px;
  left: 1007px;
}
.frame44 {
  transform: translate(-0.25px, 0px);
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  top: 0px;
  right: 138px;
  overflow: hidden;
}
.svg__bxiD2 {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #7e7e7e;
  width: 30px;
  height: 30px;
  display: block;
  top: 0px;
  left: 0px;
}
.frame45 {
  transform: translate(-0.25px, 0px);
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  top: 0px;
  right: 92px;
  overflow: hidden;
}
.svg__euDu {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #7e7e7e;
  width: 30px;
  height: 30px;
  display: block;
  top: 0px;
  left: 0px;
}
.frame46 {
  transform: translate(-0.25px, 0px);
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  top: 0px;
  right: 46px;
  overflow: hidden;
}
.svg__cirxy {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #7e7e7e;
  width: 30px;
  height: 30px;
  display: block;
  top: 0px;
  left: 0px;
}
.frame47 {
  transform: translate(-0.25px, 0px);
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  overflow: hidden;
}
.svg__ygt4I {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #7e7e7e;
  width: 30px;
  height: 30px;
  display: block;
  top: 0px;
  left: 0px;
}
.frame48 {
  width: 1343px;
  height: 62px;
  display: block;
  position: absolute;
  top: 269px;
  left: 34px;
}
.frame49 {
  width: 658px;
  height: 32px;
  display: block;
  position: absolute;
  top: 12px;
  left: 8px;
}
.autoLayoutHorizontal9 {
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  left: 0px;
  bottom: 0px;
  flex-direction: row;
  padding-right: 7.281px;
}
.autoLayoutHorizontal9 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.autoLayoutHorizontal9 > :global(.__wab_flex-container) > *,
.autoLayoutHorizontal9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.autoLayoutHorizontal9 > :global(.__wab_flex-container) > picture > img,
.autoLayoutHorizontal9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.frame50 {
  width: 18px;
  height: 15px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.svg__j6Di {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 18px;
  height: 15px;
  display: block;
  top: 0px;
  left: 0px;
}
.text___7QzeE {
  display: block;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 12px;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
._2023NikeIncAllRightsReserved {
  position: absolute;
  top: 17px;
  left: 77px;
  width: 214px;
  height: 17px;
  transform: translate(0.2810000000000059px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__kmiZ {
  display: block;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 12px;
  color: rgba(125, 125, 125, 1);
}
.frame51 {
  transform: translate(-0.5px, 0px);
  width: 666px;
  height: 46px;
  display: block;
  position: absolute;
  top: 16px;
  left: 672px;
}
.guides {
  position: absolute;
  top: 15px;
  left: 277px;
  width: 41px;
  height: 17px;
  transform: translate(0.1560000000000059px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__wnEbA {
  display: block;
  font-size: 12px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28px;
  color: rgba(125, 125, 125, 1);
}
.termsOfSale {
  position: absolute;
  top: 15px;
  left: 345px;
  width: 77px;
  height: 17px;
  transform: translate(0.21800000000001774px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__i8Hfz {
  display: block;
  font-size: 11px;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28px;
  color: rgba(125, 125, 125, 1);
}
.termsOfUse {
  position: absolute;
  top: 15px;
  left: 450px;
  width: 74px;
  height: 17px;
  transform: translate(-0.15699999999998226px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__jAtVc {
  display: block;
  font-size: 11px;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28px;
  color: rgba(125, 125, 125, 1);
}
.nikePrivacyPolicy {
  position: absolute;
  top: 15px;
  left: 551px;
  width: 107px;
  height: 17px;
  transform: translate(0.3429999999999609px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__nfAdy {
  display: block;
  font-size: 11px;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28px;
  color: rgba(125, 125, 125, 1);
}
.httpRestApiFetcher:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  min-width: 0;
}
.graphQlFetcher___1Snqc:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  min-width: 0;
  display: flex;
}
